[2014-02-15 18:24] atomicules opened #1 ">>> Appearing in timeline"
[Reported 2014-02-15](https://twitter.com/kyhwana/status/434525389113683968).

Could be a none issue?

Must be due to [these lines of code](https://github.com/atomicules/TTYtter/blob/b3d254bee9a3ad0b74b8af16e5496cdbb8e271e7/ttytter.pl#L5402-L5505) and according to the [linked](https://github.com/atomicules/TTYtter/blob/b3d254bee9a3ad0b74b8af16e5496cdbb8e271e7/ttytter.pl#L5409) streaming API docs f

[2014-02-15 18:34] atomicules opened #2 "Can't use an undefined value as a HASH reference"
[Reported 2014-01-30](https://twitter.com/F3nr1s/statuses/428849405945339904)

References [line 5162](https://github.com/atomicules/TTYtter/blob/b3d254bee9a3ad0b74b8af16e5496cdbb8e271e7/ttytter.pl#L5162)

No sure what this one is on about. Not seeing it myself either.

[2014-02-16 22:49] jasonwryan commented on #1
I started noticing these over the weekend. They are definitely more pronounced on my home connection (which is, by international standards, quite slow), but I am also seeing them at work where we have a 20Mbps connection.

Hiding them would be a good idea...

I should note, I use "pause=180" in my rc.

[2014-02-17 12:16] atomicules commented on #1
I'm going to try and have a look at this (but if any one more clever than me wants to have a go, please feel free).

[2014-02-17 22:03] tjharman commented on #2
People are seeing this when they're not using SSL.

[2014-02-17 22:06] atomicules commented on #2
Is that the only cause though? I wondered if it was fail whale related and therefore why only occasionally seen (I've never seen it).

[2014-02-17 22:45] atomicules commented on #1
Been doing a bit of debugging. Added the following above line [5873](https://github.com/atomicules/TTYtter/blob/b3d254bee9a3ad0b74b8af16e5496cdbb8e271e7/ttytter.pl#L5873):

[code]

and I'm seeing this:

[code]

So perhaps not what I first thought, but gives me something further to investigate.

[2014-02-17 22:56] atomicules commented on #1
Aha! https://dev.twitter.com/discussions/26130

Getting somewhere. Wonder if this is just temporary a glitch on Twitter's end?

[2014-02-17 23:01] jasonwryan commented on #1
Nice find. Hopefully, Twitter will provide an explanation...

[2014-02-18 09:38] IvanSanchez commented on #1
This is caused by TTYtter's default handling of events.
These should help: https://github.com/IvanSanchez/ttytter-extensions/blob/master/debug_event_handle.pl https://github.com/IvanSanchez/ttytter-extensions/blob/master/withheld.pl

[2014-02-18 22:43] jasonwryan commented on #1
Seems to be fixed (at least at the moment). I won't take [any credit for it](https://twitter.com/jasonwryan/status/435880282919428096)... (thanks to Ivan for the withheld extension).

[2014-02-18 22:57] atomicules commented on #1
It seems to be quite intermittent for me. Thought about putting something like this in:

[code]

but the issue has disappeared for me before I can test.

[2014-02-18 23:01] atomicules commented on #1
Also, there does seem to be intent for handling `status_withheld` in ttytter already. See line [5472](https://github.com/atomicules/TTYtter/blob/master/ttytter.pl#L5472)

[2014-02-18 23:10] IvanSanchez commented on #1
I have been trying to extend withheld.pl to prevent the default handler from running, with no avail. Will try to give it another shot tomorrow, or maybe I can make a pull request to change the default event handler.

[2014-02-19 09:09] atomicules commented on #1
Looks like the issue has been resolved on Twitter's end? I'm not seeing these any more.

[2014-02-19 09:17] IvanSanchez commented on #1
"Twitter not sending more withheld events" doesn't mean "TTYtter handles withheld events properly" :-/

[2014-02-19 09:23] atomicules commented on #1
Oh yeah, for sure, completely agree. It just means that now the issue of "status_withheld with no countries listed" has gone away, it's much harder to test a fix for it.

[2014-02-23 11:41] atomicules commented on #1
What about that as a potential fix/improvement?

I think the problem was with the [original code](https://github.com/atomicules/TTYtter/blob/master/ttytter.pl#L5472-L5479) was that as [commented](https://github.com/atomicules/TTYtter/blob/master/ttytter.pl#L5473) `id_str` isn't actually available and so this bit of code never executed.

But as mentioned above I don't know anyway of testing this be

[2014-02-24 09:20] IvanSanchez commented on #1
I'd rather also show withheld tweets even if the countries array is empty. At least that's what I was seeing in my timeline.

[2014-02-25 12:19] atomicules commented on #1
Hmm, but when I was seeing this issue, I was seeing the "Withheld tweet" message for tweets that were actually appearing in my timeline. I.e. it was my understanding that "status_withheld with no countries listed" was a temporary bug/glitch in the API.

[2014-03-28 08:41] atomicules opened #3 "Add support for multiple images"
Maybe.

As per [Twitters announcement](https://blog.twitter.com/2014/photos-just-got-more-social) that it's now possible to include up to four images with a tweet.

I can't find any mention of this in the API documentation though.

[2014-03-28 08:43] atomicules opened #4 ""Invalid command" error messages when trying to retweet with codes from search results"
As [reported here](https://twitter.com/BurtHenry/statuses/446015677069938688).

Needs investigation. Unconfirmed.

[2015-04-14 11:28] atomicules commented on #3
See this gist: https://gist.github.com/myshkin/5bfb2f5e795bc2cf2146

[2015-04-14 22:20] tjharman commented on #3
How to apply that gist?

I get the following:

root@animal:/usr/bin# patch < tit.diff
patching file ttytter
Hunk #1 FAILED at 2837.
Hunk #2 FAILED at 5333.
Hunk #3 FAILED at 5351.
Hunk #4 FAILED at 7027.
4 out of 4 hunks FAILED -- saving rejects to file ttytter.rej

[2015-04-15 07:29] atomicules commented on #3
@tjharman I'm not sure. I posted that link for information and future reference for working on this issue. I've not tried it myself. Perhaps the diff is against a slightly different version that the one you are trying to patch? Might be worth asking [justarobert on Twitter](https://twitter.com/justarobert/statuses/587344250028691456)

[2015-06-11 22:22] atomicules opened #5 "Support more than 140 characters in direct messages"
Seeing as how that is now a thing. Although:
1. I don't know for sure if there is a hard limit on TTYtters side of things
2. I don't want too many displayed anyway, let alone sent so need to think about truncating

[2015-08-04 11:09] atomicules opened #6 "Add support for displaying quoted tweets"
_I don't think it is possible to created quoted tweets via the API? If it is that could be handled as a separate issue. Oh, actually, you can, you just [include the link at the end of the status](https://twittercommunity.com/t/method-to-retweet-with-comment/35330/14), so actually should be able to do that manually at the moment_

Creating a new issue for this, distinct from issue #3 because I pers

[2015-08-04 11:16] atomicules commented on #6
Will push a branch with this in later today.

[2015-08-04 11:45] atomicules opened #7 "Add support for creating quoted tweets"
See issue #6. Should actually be really straightforward to do this.

[2015-08-12 17:50] OverlordQ opened #8 "Stream becomes detatched"
Long shot I know, but occassionaly (I cant seem to find a good repro case) the `TTYtter (streaming buffer thread)` thread becomes detached from it's parent so trying to send/fetch new tweets hangs. You have to exit, then kill off the dangling processes and then restart. Running in superverbose didn't yield anything informative that I could tell

[2015-08-12 18:41] atomicules commented on #8
Hi. I used to see this as well - I think? What I used to get was that
the act of replying or sending a tweet would cause TTYtter to hang
(but perhaps it had already hung already and I only noticed when
trying to send/reply?).

I, too, couldn't reproduce it on command.

For me, on NetBSD x64, the issue went away when I upgraded my Perl
version. Unfortunately I can't remember what version I had inst

[2015-08-12 18:52] OverlordQ commented on #8
5.20.2.

Things do show up in dmesg:

[code]

But since I have no way of reproducing this I have no clue how to get a backtrace. I've trued running it with debugperl but I've yet to get it to crash yet.

[2015-08-12 19:22] atomicules commented on #8
I wish I could remember for sure when I stopped seeing this issue as
I've just had another thought: My upgrading of Perl versions "fixing"
this issue could have been a coincidence - it could be that I stopped
seeing this when I switched from a multi-core machine to a single-core
machine.

Really not sure though.

[2015-09-08 09:45] atomicules opened #9 "Think about extending thread support for quoted tweets"
Could do with thinking about whether to extend the current thread support to include quoted tweets. As as far as I'm aware quoted tweets don't include the in_reply_to_status_id so won't be threaded currently.

I don't use the Twitter website very often (obviously), but I think that only displays one quoted tweet and you have to click through for the rest.

Might be nice to have the option to loop

[2015-09-08 09:49] atomicules commented on #6
I thought about automatically displaying nested quoted tweets (quotes of quoted tweets), but the Twitter website doesn't do this so I won't do this by default. Instead I've opened #9 to think about provided this functionality under the thread command.

[2015-09-08 10:04] atomicules opened #10 "Add support for group direct messages"
Is this as simple as /replyall (Once the >140 char #5 is done, of course)?

[2015-09-08 10:34] atomicules opened #11 "Share a tweet through a DM"
As per [this announcement](https://blog.twitter.com/2014/share-a-tweet-through-direct-messages).

So I guess we want some way to say something like `/dm a1 @someone Look at this tweet` where a1 is the reference to the tweet.

[2015-09-08 14:52] atomicules commented on #6
Wondering if quoted tweets should behave like retweets: I.e. if RTs are disabled for a user, should quoted tweets also be disabled?

[2015-09-10 07:04] #7 closed, assigned to atomicules

[2015-09-11 07:02] atomicules commented on #6
I've broken it again. For some reason single streamed tweets are now displaying the quoted tweet, but not the parent.

[2015-09-11 07:08] atomicules commented on #9
Closing this. Just need to fix #6 again.

[2015-09-11 07:08] #9 closed, assigned to atomicules

[2015-09-12 11:21] #6 closed, assigned to atomicules

[2015-09-22 07:18] IvanSanchez opened #12 "Check if ttytter is up-to-date using github releases"
TTYtter should be able to visit https://github.com/atomicules/TTYtter/releases (or use the github API) to check if the running version is the latest version available, in a similar fashion floodgap's TTYtter was doing.

[2015-09-22 07:36] atomicules commented on #12
Yeah, it should. I wrote some brief thoughts here: https://github.com/atomicules/TTYtter/commit/81e13f99e1151d63f0c66995cc1143fd26920ac5

I think what I'll do is work on the multiple image support milestone first and then add in the update checking. That way I'll have a bit more confidence I can actually maintain this.

[2015-09-22 07:36] IvanSanchez opened #13 "Readline regression"
Somehow, readline is broken when upgrading from floodgap's to 2.2.2.

The old ttytter used to show this during startup:

[code]

But now:

[code]

[2015-09-22 07:42] IvanSanchez opened #14 "Quoted tweets have empty geo coordinates (breaks geo extensions)"
In floodgap's ttytter, `$tweet->{'geo'}->{'coordinates'}` used to be a two-dimensional array which contained latitude and longitude (or `undef`).

In 2.2.2, `$tweet->{'geo'}->{'coordinates'}` is an empty array.

This is making my [multigeo](https://github.com/IvanSanchez/ttytter-extensions/blob/master/multigeo.pl) extension to fail, and is making me sad.

[2015-09-22 07:46] atomicules commented on #13
Any local Perl changes? Upgrading Perl version, etc? You might just need to re-install `Term::ReadLine::TTYtter`.

I'm not seeing this issue and haven't intentionally touched anything related to Readline. I've only ever had this issue when I've unintentionally upgraded Perl, etc.

[2015-09-22 07:48] IvanSanchez commented on #13
Hm, this happened because I uninstalled the `ttytter` Debian package, which contains `Term::ReadLine::TTYtter`. My fault.

[2015-09-22 07:48] #13 closed, assigned to nobody

[2015-09-22 07:48] atomicules commented on #14
Ok, interesting! I've not intentionally done anything there, but will take a look. I too had noticed empty co-ordinates, but I'd never paid attention to them before so I just assumed I happened to be looking a tweets without them.

[2015-09-22 07:52] IvanSanchez commented on #14
I suggest you give `multigeo.pl` a spin, and place a `Dumper($tweet->['geo'])` around line [583](https://github.com/IvanSanchez/ttytter-extensions/blob/master/multigeo.pl#L583).

Tweets might contain either coordinates, or a twitter place ID. Not a lot of people use coordinates nowadays, but maybe 1 tweet in every 50 in my stream does.

[2015-09-22 08:07] atomicules commented on #14
As soon as I track down some geo-enabled tweets I'll debug this.

[2015-09-22 08:09] IvanSanchez commented on #14
Hhhhmmmm, wait a second. I'm seeing tweets with coordinates (which are working OK), and I'm noticing that the errors come from the quoted tweets. Apparently all quoted tweets have empty coordinates.

[2015-09-22 08:13] atomicules commented on #14
Ah, ok, well that could be something.

I just found a normal tweet in my stream (646008141306593280) that
dumps the same in 2.1.0 and 2.2.2: no coords, but does have a place
id.

But it is entirely possible I'm not doing whatever is needed for
quoted tweets. I shall look into it.

Thanks.

[2015-09-22 08:17] IvanSanchez commented on #14
Tweets with coordinates look like https://twitter.com/xurxosanz/status/646214917989761024

[2015-09-22 08:29] atomicules commented on #14
I probably need to fix something in normalisejson, that's where I'd
missed everything so far for quoted tweets.

[2015-09-22 08:36] IvanSanchez opened #15 "Add a leading character to quoted tweets"
Right now, retweets have a leading `%`, and replies have a leading `@`, prepended to the tweeter's username.

It would be nice if the default handler prepended a character (maybe `↑`?) to quoted tweets, in the same fashion.

[2015-09-22 08:39] atomicules commented on #15
Well, I wasn't sure. For now the parent tweet has a " (quotation mark)
prepended to the front, but the actual quote tweet has nothing.

I'm not sure which is best to mark up?

[2015-09-22 08:41] IvanSanchez commented on #15
Personally I'd like the quoted one. Maybe there is a use case for prepending stuff to both the quoted and quoting tweets, so maybe the best thing is to add options for both (and leave one of them empty by default).

[2015-09-22 08:44] IvanSanchez commented on #14
Weird. For some reason TTYtter is using the string literal `'undef'` in place of the `undef` type for some tweets with coordinates. :-S

[2015-09-22 13:07] atomicules commented on #15
I'll look into this, but will be a little trickier as I think I'll
have to inject something into the tweet structure so I can target it
here:

https://github.com/atomicules/TTYtter/blob/master/ttytter.pl#L5390-L5391

[2015-09-22 17:46] atomicules commented on #14
Hi, just pushed a fix for this. I hope. I haven't tagged it as a
release yet because I've just done the same undef stuff as 2.1.0 did
and I get the impression that might not be quite correct?

[2015-09-23 19:16] atomicules commented on #15
Closing this out, but feel free to re-open if you feel it really should be possible to turn one or the other off

[2015-09-23 19:16] #15 closed, assigned to atomicules

[2015-09-23 19:18] atomicules commented on #14
Same here. I think this fixes the issue, but re-open if it can be improved further

[2015-09-23 19:18] #14 closed, assigned to atomicules

[2015-10-13 11:33] #3 closed, assigned to atomicules

[2015-10-14 21:08] #12 closed, assigned to atomicules

[2015-10-15 11:41] IvanSanchez opened #17 "Quotes from searches/mentions should keep the same colour"
I just noticed that if a search returns a tweet which quotes another, the quoted tweet will be white and not blue (note the `"` and `↑` symbols at both):

![ttytter-quotes](https://cloud.githubusercontent.com/assets/1125786/10512642/3f67d3c0-7342-11e5-85a3-1f66521ba9f9.png)

It would be nice to have the same colour in both. Same goes for replies. Even for tweets quoted from a DM.

(This falls into

[2015-10-25 09:12] edison23 opened #18 "Inserting newline doesn't work"
Not sure if i'm doing something wrong, but when i have set `newline => 1` and try to tweet sth like `blabla \n this should be on a new line`, the tweet contains the `\n` string instead of an actual new line character.

[2015-10-25 11:31] atomicules commented on #18
Hi.

-newline only affects display of received tweets, which could perhaps
be clarified in the documentation.

As to how to send tweets from TTYtter, I'm really not sure. I'll have
to look into this.

I thought there might be someway to insert something via Readline, but
I've not figured it out yet. I've just now had a quick go modifying
TTYtter to look for the "\n" characters and replace with an

[2015-10-26 12:05] atomicules opened #19 "IPC Streaming related issue"
Possibly related to #8 ?

Not a lot of info about this. See:
- https://twitter.com/gewt/statuses/655573633851461632
- https://twitter.com/gewt/statuses/655840555662860288
- https://twitter.com/gewt/statuses/658089253050695681

I have NO CLUE about this at the moment, but it's not due to the changes I've made, it's been there since 2.1.0.

[2015-10-28 08:12] IvanSanchez opened #20 "Replace newlines with spaces"
Hi there,

Little feature request:

I've started using the `-newline` option to get rid of `\n` in my timeline. However, I personally find that using actual newlines in the output kinda breaks the flow of text.

I have noticed the code always replaces `\\n` with `\n` [around here](https://github.com/atomicules/TTYtter/blob/8ca7f0a2b7af50aa52964638ea48bc28c5b5dba7/ttytter.pl#L7585):

[code]

It wou

[2015-10-28 08:18] atomicules commented on #20
I agree. I think. Lots of "\n" looks messy. Work on this might tie-in with #18, but it'll have to wait a bit as busy elsewhere at the moment.

[2015-10-28 08:33] IvanSanchez commented on #20
Yeah, maybe the same character that a newline is replaced by should trigger a newline when writing. Not sure. I'll be using a temporary solution in the meantime using replacement UTF8 characters:

[code]

[code]

Looks consistent IMHO (`␤` and `␍` are meant pretty much for this), but I don't have a (good) idea on how to compose tweets containing newlines.

[2015-10-31 11:20] funnelfiasco opened #21 "Reply to self keeps your username"
That's bugged me forever. Pull request incoming.

[2015-10-31 11:43] funnelfiasco commented on #8
I get the same thing with 2.1.0 on Fedora 22, Perl 5.20.3. It happens reliably, but not on demand. Anywhere from a few minutes to a few days running in screen and poof!

[2015-10-31 12:00] funnelfiasco commented on #4
Can't reproduce. I was able to retweet tweets from my pre-defined search terms as well as an ad hoc search.

[2015-10-31 15:54] #21 closed, assigned to nobody

[2015-10-31 16:11] atomicules commented on #5
It'd be nice to be able to invoke $EDITOR to compose longer messages. I plan on having a look at TexApp and seeing if there is anything in there we can pull back into TTYtter.

[2015-11-01 14:08] funnelfiasco commented on #20
Maybe `-newline` should change from a boolean to be a selected option? The user can decide to replace \n with a tab, a space, or a an actual newline. e.g.:

[code]

[2015-11-02 13:10] atomicules opened #24 "New name for TTYtter"
We've\* been given the provisional go-ahead from Cameron Kaiser for becoming the official fork and maintained replacement to TTYtter, but one of the conditions is adopting a new name.

Some ideas we have:
- TeaTeaTer
- TTYweet
- TTYeet
- sttytter
- SIGTTWEET
- TweeTerm

Please add any others you can think of as comments. We'll give it a week or so for ideas and then try to pick one we all agree on

[2015-11-02 14:34] edison23 commented on #24
Personally, I like TweeTerm (could be also TwiTterm or something), because it's easy to pronounce (unlike TeaTeaTer, which is too long I think). SIGTWEET isn't bad either.

So, my idea is:
- twitterm (not sure about the capitalization, TwiTTerm, twitTerm, twitTERM, ... )
- CLItter (ehm, yea, that sounds like a dirty pun, I know)

[2015-11-02 15:35] cwage commented on #24
I like twitterm, but it looks like that's already used for a few things -- an NPM module, etc.

[2015-11-02 20:44] tjharman commented on #24
What about

twitty / twiTTY

It's like Twitter
It's still got tty in it.
It's short, sweet and pronounceable.

[2015-11-02 20:55] atomicules commented on #24
Some others I thought of while cycling home:
- PerlsOfWisdom
- Perity (bit obscure: Perl + Parrots (bird,tweet) + "Who's a pretty boy then?")
- OysTTYer
- DontClamUp (bit naff)
- TeleTweet
- Twerminal
- TweeTTY (My current fav)

[2015-11-02 20:57] tjharman commented on #24
I really like **TweeTTY**!

[2015-11-02 20:58] atomicules commented on #24
@tjharman Oooh close, prefer TweeTTY though.

[2015-11-02 20:59] tjharman commented on #24
Don't worry, so do I!

[2015-11-02 21:01] atomicules commented on #24
Drat! taken!

http://sourceforge.net/projects/tweetty/

[2015-11-02 21:07] IvanSanchez commented on #24
TweeTerm and Twetty are taken, so I'm gonna say +1 for Twerminal.

[2015-11-02 21:10] jacoby commented on #24
"George". As in "I will hug it and squeeze it and call it George." (https://en.wikipedia.org/wiki/Of_Mice_and_Men_in_popular_culture#In_cartoons_and_animation)

[2015-11-02 21:35] edison23 commented on #24
I really like Twitty. The next best for me is Twerminal, but it's uncomfortably long, TBH.

[2015-11-02 22:53] edison23 commented on #18
I have tried to post a new line via --status option, but it didnt go thru either (i used actual new line character, not `\n` string), so now I've completely ran out of ideas how to post it.

[2015-11-03 09:32] IvanSanchez opened #25 "Collapse nearby RTs"
This is a feature idea that has been in my mind for quite a while, but I think it's non-trivial.

Whenever I'm following some real-time event, or whenever I post something exceedingly popular, half my screen fills up with the same RT, duplicated over and over again.

It would be nice if "nearby RTs" could be collapsed. Something like "if I've seen this particular tweet in the last 30 minutes, do n

[2015-11-03 12:58] atomicules commented on #25
It's probably not that non-trivial (but don't expect it next week) because I do [something similar for quote tweets](https://github.com/atomicules/TTYtter/blob/9e2c81d93b80cec7bd483996b2f7bc96e2a03c30/ttytter.pl#L4878-L4899). So it's just a case of counting retweet IDs, etc and suppressing additional ones.

However, this is probably safest done per payload received from the API, which means you wi

[2015-11-03 13:02] IvanSanchez commented on #25
I don't know. Per-payload would probably be a very good first step.

I'm not familiar with the internal workings of ttytter, but... shouldn't be there a place where the tweets with a valid ref (i.e. `a0` through `z9`) are stored? Looping through ~240 tweets might be a better idea than session-wide.

[2015-11-03 13:06] atomicules commented on #25
Quite a lot of looping goes on anyway per payload.

[2015-11-03 14:44] vehrka commented on #24
I'm also on a +1 for Twerminal

[2015-11-04 08:16] atomicules opened #26 "Change from /fav to /like"
[Needs to be done](https://blog.twitter.com/2015/hearts-for-developers).

At least we don't have to have `/heart`.

Oh, Twitter, you are silly sometimes.

[2015-11-09 09:56] atomicules commented on #24
Hmm, found this: https://github.com/developingo/twerminal

Naming things is hard.

[2015-11-09 10:14] atomicules commented on #24
TwiTTYr? (There are lots of TwiTTY already).

Or go crazy: TTYTTYr

[2015-11-09 11:41] atomicules commented on #24
Add in an extra "i" and we are probably ok with TwiiTTY.

But by now I'm kind of fed up with trying to play on TTYtter, TTY, Twitter and terminals, etc.

Maybe something different? Perlow as a contraction of Perls of Wisdom?

(I'm not at all concerned about finding a free twitter account username for the project either. We can just hashtag for support).

[2015-11-09 12:11] atomicules commented on #24
Lots of "Chatty"s, but no ChaTTYer

Don't really like it though. Although almost beyond caring.

[2015-11-09 12:31] atomicules commented on #24
naTTYr

For "Not another Twitter..." (From the Floodgap page). Also has TTY. And also pronounced as "Natter" which means to chat, etc.

[2015-11-10 17:23] funnelfiasco commented on #24
It's been 8 days, I think it's time to put it to a vote: Here's a form ballot, select as many as you like. https://docs.google.com/forms/d/1xkufmfy6WkeEDKRpuflIzCaKE-LKVBYw3GTt3zl_iAI/viewform?usp=send_form

(I dropped any proposals that had name collisions with other Twitter clients or any that could be misread as inappropriate names)

[2015-11-15 12:07] atomicules commented on #18
Just pushed a commit that allows sending of newlines. Any "\" followed
by an "n" will be changed into a newline.

I don't to want tag this as a release just yet as there is one
problem: It is no longer possible to send a literal "\" followed by an
"n". Not sure what to do about this? Can't have it both ways. So
perhaps this needs to be another option like -sendnewline?

[2015-11-15 13:49] edison23 commented on #18
wouldnt escaping it with another `\` be an option?

[2015-11-15 18:38] tjharman commented on #18
Second what Edison said. That's the usual way these issues are handled, \ = \

[2015-11-15 22:18] atomicules commented on #18
Ok, just pushed a commit that implements newline handling that way. If
you have a "\n" it will get turned into a newline. If you have a "\n"
it will be tweeted as a literal "\n". If you have a "\" it will
become a "\".

There are still a couple of issues I need to sort I mention in the
commit notes.

[2015-11-19 13:38] atomicules commented on #24
@funnelfiasco Any clear winner yet?

[2015-11-19 20:46] funnelfiasco commented on #24
As of today, it looks like twitterm is the clear winner. Full voting results:

[code]

[2015-11-19 22:40] atomicules commented on #24
Hmm, there are a couple of "twitterm"s on Github and some "twitty"s as
well.

Which gets us to no clear winner.

I'm stuck as to what to do.

[2015-11-19 22:54] funnelfiasco commented on #24
Hm, I'm not sure how I missed that when checking for collisions (or I didn't but accidentally re-added it in the survey). I say you just declare a winner among your favorites (I'm partial to OysTTYer).

[2015-11-19 23:05] atomicules commented on #24
Ok, I'll pick one of the 3 vote ones tomorrow (or at the weekend) and
start transitioning to an organisation, etc.

[2015-11-20 09:00] atomicules commented on #24
Ok, by unpopular vote we've gone with oysttyer. I really don't mind it either. It's got "TTY" in it and there is the link to Perl as well.

[2015-11-20 09:00] #24 closed, assigned to nobody

[2015-11-20 10:39] atomicules opened #27 "Switch everything over to new name - oysttyer"
Working on this this weekend.
- [X] Register Twitter account
- [X] Get new API key
- [x] Switch source code over s/ttytter/oysttyer , etc.

[2015-11-20 10:40] atomicules opened #28 "Move docs over to github"
Assuming Floodgap give us permission. Move the docs over to her under github-pages (or Wiki, but likely easier under Github pages).

[2015-11-20 10:53] IvanSanchez commented on #27
We need a logo. An oyster shell with an `@` instead of a pearl or something.

[2015-11-20 10:56] atomicules commented on #27
Great idea! Thanks for volunteering ;-)

[2015-11-20 11:03] IvanSanchez commented on #27
[code]

[2015-11-20 12:44] edison23 commented on #27
ok, how about something like this? pearl in an oyster.. i know it's a bit more complex, but the "splash screen" already has something more or less this complex, right?

[code]

[2015-11-20 12:57] atomicules commented on #27
Wow, impressive.

[2015-11-20 12:58] IvanSanchez commented on #27
[code]

[2015-11-20 13:04] atomicules commented on #27
I'm up for using both of these. The big one as the splash screen and
the smaller one for the Twitter avatar, etc.

[2015-11-20 13:10] edison23 commented on #27
ok, i'll try to improve mine to make it look better, this was a fast sketch.. you can choose then from the two versions

[2015-11-20 13:36] edison23 commented on #27
ok, so i figured one `@` will be better than four as a pearl, but I'm not 100 % positive on that being a good move, so I can reverse it, if you guys dont like it. I also avoided using `@` anywhere else, plus I added dot into the center of the `O`... just bcs I like it, reminds me of the pearl in the center of the oyster.

[code]

[2015-11-20 14:45] atomicules commented on #27
@edison23 I've had to tweak some of the characters (as in slightly ruin your artistic talent) a bit as I was having trouble getting them to display properly. Might just have been my font/terminal combination, etc. Once I get everything changed over, tested and push up here you'll be able to take a look and see if you can get it back to how you had it.

[2015-11-20 15:44] edison23 commented on #27
no problem, i probably shouldnt have used those french accents, that's true..

a/w it occured to me now, that it might look to someone like a toiler.. i should try to fix that xD

[2015-11-20 15:47] IvanSanchez commented on #27
I think I can fiddle with a few variations. At least this doesn't look like a toilet much :-P

[code]

[2015-11-20 16:03] edison23 commented on #27
@atomicules ok, how about this? I tried to remove all the obscure characters and fiddled w/ it to make it look less like a toilet.

[code]

[2015-11-20 20:19] atomicules commented on #27
For whatever reason, it is the ´ character which causes problems.
Would be interesting for others to test using that character as well.
For the time being I've changed to '

[2015-11-20 20:34] funnelfiasco commented on #27
Related question: do we want to support the .ttytter(rc|key) file names for a while or just make a clean cutover?

[2015-11-20 20:35] funnelfiasco commented on #28
We might want to rewrite them in markdown or something source-y and then we can publish as various HTML/PDF sections.

[2015-11-20 20:39] atomicules opened #29 "Organisation members"
I've given @funnelfiasco and @IvanSanchez owner access as I've had most communication with them and so "trust" them, so to speak. They will be free to set others as owners of course. This shouldn't just be owned by me.

And then I'm trying to add as members those who have shown interest or written plugins for TTYtter in the past. So far @edison23 @tjharman @colindean @pr4wn.

[2015-11-20 20:42] funnelfiasco opened #30 "Community infrastructure"
Do we want mailing lists, IRC channels, a website, etc?

[2015-11-20 20:42] funnelfiasco commented on #30
I've created and registered #oysttyer on Freenode. Msg bcotton for op.

[2015-11-20 20:54] atomicules commented on #27
I've gone for clean cut-over. Would need new key anyway as had to register a new api key.

[2015-11-20 20:58] atomicules commented on #30
Probably only want as much as we are willing to manage. Could just use github pages as the website and not bother with a domain name, etc.

[2015-11-20 20:58] atomicules commented on #30
Also see #29

[2015-11-20 20:59] atomicules commented on #29
Added @vkoser and @reuteras since mentioned on Floodgap as writing extensions.

[2015-11-20 21:00] atomicules commented on #29
Oh, also @stormdragon2976 for the same reason.

[2015-11-20 21:05] atomicules commented on #29
Added @vehrka based on @IvanSanchez [tweet](https://twitter.com/RealIvanSanchez/status/667632756495679488) earlier.

[2015-11-20 21:07] atomicules commented on #29
Done for now, I think?

[2015-11-20 21:09] funnelfiasco commented on #30
I certainly don't mind paying for a domain and running mailman and some simple HTML, but if nobody else will use it, I won't bother.

[2015-11-20 22:33] edison23 commented on #30
@funnelfiasco couldnt the channel be on Rizon? I think many more people dwell there (including me) and thus are more likely to come

[2015-11-20 22:35] edison23 commented on #30
Ad web: I think my friend could provide a VPS where we could run the web if we wanted

[2015-11-20 22:36] funnelfiasco commented on #30
@edison23 it certainly could. Freenode seems to be the place where most FLOSS projects live (though the Floodgap license makes oysttyer not technically a FLOSS project). I'm not particularly wedded to it, though.

[2015-11-20 22:44] edison23 commented on #30
@funnelfiasco Then I would start the channel at Rizon rather than at Freenode if you and others don't mind... should I register one, or shall we leave that to da boss? ;)

[2015-11-20 23:19] stormdragon2976 commented on #29
This is great, TTYTTer was the best part of Twitter lol. I hope that a lot of work will go into this project to make it gnu social compatable. While we may need to worry about Twitter changing their API again for the purpose of chasing away third party developers, GNU Social would not do such a thing.

[2015-11-20 23:32] colindean commented on #29
While I certainly appreciate the consideration, I don't think I have anything to contribute further. I've not actively used TTYtter for a few years, as I now actively manage eight Twitter accounts with Tweetdeck.

Good luck! TTYtter was my go-to for a lot of years when keeping things in a terminal was the only way to maintain productivity while tweeting ;-)

[2015-11-20 23:39] atomicules commented on #29
Hi @colindean no problem. I just didn't want to exclude anyone who may have been interested.

[2015-11-20 23:40] colindean commented on #29
No worries at all. 🍻

[2015-11-20 23:41] atomicules commented on #29
@stormdragon2976 I've not intentionally broken any existing non-twitter support, but I haven't checked if it currently works with Gnu Social. If we can support both Twitter and Gnu Social that would be great.

[2015-11-21 00:17] edison23 commented on #28
shall we keep the same structure? bcs it seemed to me a bit unclear sometimes, but on the other hand.. who wants to rewrite and reread it all, i admit

[2015-11-21 02:15] funnelfiasco commented on #28
I'm inclined to go for a rewrite. Cameron's docs, while thorough, were hard
to follow. I've done a fair amount of documentation, so I'm happy to do the
initial work and let the community smooth things out.

[2015-11-21 09:18] reuteras commented on #29
Like @colindean I haven't actively used TTYtter for years. I wish you good luck and I might check out this client over the holidays since it's always fun to have a terminal alternative :)

[2015-12-01 07:54] IvanSanchez opened #32 ""Application cannot perform write operations""
So I try to RT something this morning and the following error message pops up:

[code]

Has there been any problem with the oysttyer API key?

[2015-12-01 09:30] atomicules commented on #32
Nothing I know about. Will check this out.

[2015-12-01 09:34] edison23 commented on #32
I am experiencing this as well, also from today's morning

[2015-12-01 10:03] atomicules commented on #32
Looks like it is Twitter being their usual kind selves to developers.
It's been intentionally suspended, supposedly for breaching terms of
the API, which we haven't done because no significant changes have
been made since TTYtter; the only potential thing is we still say fav
instead of like, but I just haven't had time to change that yet.

No email from them like they are supposed to do.

I'll hav

[2015-12-01 10:19] atomicules commented on #32
This might take a few days to sort out.

[2015-12-01 10:25] IvanSanchez commented on #32
Manually changing the values of the oauthkey and secret might help (circa line 970).

Perhaps twitter looks for oauth secrets in github and automatically bans ones available in plain-text? Maybe it's time to use something super-secret like ROT13.

[2015-12-01 13:12] atomicules commented on #32
Maybe, seems odd that all the time I had TTYtter mirrored they never
blocked that though.

Bad timing for this today, I'm off work, but really busy at home.
Would have been easier to sort out if I'd been at work.

[2015-12-01 14:27] atomicules commented on #32
Logged support ticket, got automated email, sent follow-up to that.
Need to know what our non-compliance is so hoping a human being
somewhere will read the ticket.

[2015-12-01 15:27] funnelfiasco commented on #30
Sorry, didn't mean to leave you hanging so long. I still think Freenode is a more "appropriate" place, but I also don't particularly care. If you want to start a channel at Rizon, go ahead. I'll /topic the Freenode channel to point to that one.

[2015-12-01 15:41] #27 closed, assigned to atomicules

[2015-12-01 15:41] funnelfiasco commented on #27
Looks like this is all done as of the 2.5.0 release.

[2015-12-01 15:50] funnelfiasco commented on #26
I've started work on this locally, I'll test it out a bit and see if it works.

[2015-12-01 17:06] funnelfiasco commented on #26
Testing is blocked by #32.

[2015-12-02 08:20] IvanSanchez commented on #32
I've just read https://twitter.com/oysttyer/statuses/671966507971289088, does that mean we can close this issue?

[2015-12-02 08:22] atomicules commented on #32
Right, we are back working. So thanks to Twitter as they were actually pretty quick. I _think_, based on their reply (see below), that we tripped an automated spam block, probably due to the flourish of tweets when oysttyer launched.

[2015-12-02 08:22] atomicules commented on #32
@IvanSanchez Yes, closing out.

[2015-12-03 22:48] kiwiG opened #33 "Can't connect"
Running a new installation, when hitting Enter after the Welcome text I get:

Request from https://api.twitter.com/oauth/request_token ...... FAILED!: ""
unable to fetch token. here are some possible reasons:
- root certificates are not updated (see documentation)
- you entered your authentication information wrong
- your computer's clock is not set correctly
- Twitter farted
  fix these possible

[2015-12-03 22:50] tjharman commented on #33
What message do you get if you type

curl https://api.twitter.com/oauth/request_token

on the cli?

[2015-12-03 22:52] kiwiG commented on #33
curl: (6) Could not resolve host: api.twitter.com

[2015-12-03 22:53] tjharman commented on #33
Well, there's your problem.
Why can't your curl find api.twitter.com

Is your DNS set correctly etc?

This isn't a oysttyer issue, this is a network/dns issue local to you.

[2015-12-03 22:54] kiwiG commented on #33
Yeah, you're right. Just tried a ping. The server's down. D-oh! Excuse my brain fart!

[2015-12-04 08:29] #33 closed, assigned to nobody

[2015-12-04 08:41] atomicules opened #34 "Allow images to be tweeted"
From this request: https://twitter.com/blion_tec/statuses/672611366826455040

And also, I have thought about adding this functionality for awhile. It's going to be technically feasible, with the curl `$baseagent` at least, but I'm not sure how the "UI" will work, i.e. how to pass the path to the image, etc.

Probably a longer-term one to think about.

[2015-12-04 08:45] IvanSanchez commented on #34
I'd be happy with something like:

[code]

And perhaps a `/resetmedia` also, for when you make mistakes.

[2015-12-04 11:51] IvanSanchez opened #36 "DMs not expanded over 140 chars during start-up"
Let's assume you receive a DM longer than 140 characters. Right now it displays in full in streaming mode. So far, so good.

But, it you shut down oysttyer and start it up again, the two (by default) last DMs are shown... and those two are _not_ expanded over 140 chars. They will show a URL to log in to twitter and see the entire message.

[2015-12-04 13:02] IvanSanchez opened #37 "Do not display own name on sent DMs"
Right now, when a DM is sent to another person, it goes like this:

[code]

So it's pretty hard to see who I just sent the DM to. Instead, this would be preferred:

[code]

Or even

[code]

Or something like that.

[2015-12-04 13:07] edison23 commented on #34
the UI described by @IvanSanchez seems great to me

[2015-12-04 13:37] edison23 commented on #30
NP, I realized don't have a problem with the channel on Freenode, I was just being lazy getting used to another network xD

Question remains, what about the website?

[2015-12-04 13:40] IvanSanchez commented on #30
First, we need some 90s-style animated GIFs of clams and oysters.....

[2015-12-07 14:12] mackenzie-remote opened #38 "Allow quoted tweets to be appended after original tweet"
This is a feature request. Could there be an option to allow quoted tweets to be appended after the original tweet?

Before:

[code]

After:

[code]

[2015-12-07 14:16] atomicules commented on #38
Hi,

Last time I checked, it's API rules that we have to keep the `https://twitter.com/tweeter2/status/123456789012345678` bit. Only the official Twitter client gets to remove that it seems.

So I think it'd be too messy visually to have all of it one one line. But I'm open for discussion.

[2015-12-07 14:24] mackenzie-remote commented on #38
I'd still be happy with this if it's possible.

[code]

[2015-12-07 14:25] atomicules commented on #38
The other problem with doing this is it wouldn't be possible to do anything to the quoted tweet as it wouldn't have a menu code. It would limit functionality a bit.

[2015-12-07 14:27] mackenzie-remote commented on #38
Fair enough, it sounds as if it's not really feasible. Thanks for all your work on this project.

[2015-12-07 14:30] edison23 commented on #38
honestly, I'm against this idea, it seems to me that it'd be messy and I very much like it as it is now..  just sharing my opinion

[2015-12-07 14:43] atomicules commented on #38
For reference, this is the post clarifying we have to keep the url of the quoted tweet:

https://twittercommunity.com/t/api-returns-url-to-twitters-status-update-at-the-end-of-the-text/50424/5

[2015-12-07 14:47] atomicules commented on #38
@kenzeh You didn't have to close it straight away. I'm fine for a bit of a discussion around things. When I first started trying to implement quoted statuses I too wanted it displayed like you suggested because that's how TTYtter worked things internally to display retweets. But the more I thought about it, it was easier to append the quoted tweet because of the issue around menu codes, etc. Howev

[2015-12-07 15:12] IvanSanchez commented on #38
I guess that it _might_ be possible to do this with a `handler` extension.

[2015-12-07 16:46] mackenzie-remote commented on #38
@atomicules No worries, just didn't want to leave your issues full of unfixable things. If it's fixable I'd be grateful for the feature!

[2015-12-10 14:03] hak4fun opened #40 "/mute and /unmute @user"
SUGGESTION:
the code below woks fine for me. Maybe not a big deal for you to build in next revision

[code]

[2015-12-10 14:18] hak4fun opened #41 "ID's of DM in script mode"
BUG?

I'm checking all the DM's with below command from script.

~./TTYtter.pl -runcommand="/dmagain +30" -verbose -keyf=key.txt -rc=rc.txt > out.txt

Thought -runcommand implies -script option, but i don't see DM IDs in the output but display codes. So I can't delete the spam DM's automatically.

out.txt:
[DM db5][Mummy/Fri Jul 03 12:21:08 +0000 2015]  bla bla bla...
[DM db6][Barack_Obama/Fri Jul

[2015-12-10 14:21] IvanSanchez commented on #40
Maybe you can publish this as an extension, with `$addaction`? I recall `/report` was implemented first as an extension, at https://github.com/reuteras/my-ttytter-addons

[2015-12-10 14:23] IvanSanchez commented on #40
Otherwise, if you've already got the code into the main oysttyer file, send a pull request instead - it makes testing and merging the code **so** much easier.

[2015-12-10 14:50] hak4fun commented on #40
i try to "pull'a'request" or whatever....

[2015-12-10 14:53] IvanSanchez commented on #40
@hak4fun Read https://help.github.com/articles/fork-a-repo/ and https://help.github.com/articles/using-pull-requests/ before you set fire to something :-P

[2015-12-10 20:12] funnelfiasco commented on #32
Looks like we're blocked again. I just got this message.

[2015-12-10 20:44] greenled commented on #32
Me too. Got the same problem.

[2015-12-10 22:02] atomicules commented on #32
Drat. I've not seen anything from Twitter, so the likelihood is we've
just tripped an automatic spam prevention thing again. I'll raise a
ticket with them again and let you all know when I've had a response.

[2015-12-11 22:08] atomicules commented on #32
Hi. We are back in working order. Twitter sent this advice, but I'm
not sure there is much we can do about it apart from suggest Oysttyer
users never mention Oysttyer ever?

[2015-12-11 22:24] funnelfiasco commented on #32
IDK if it's even a matter of mentioning Oysttyer. It reads to me like people who use the API key (which is all users) can trigger it. In which case, how did TTYtter ever manage? Sounds like Twitter is being awful. Can you try to push them on this a little bit?

[2015-12-12 05:33] #26 closed, assigned to funnelfiasco

[2015-12-13 14:06] edison23 opened #43 "ReadLine::Stub"
So, I'm not even sure this is an issue, it may be just my stupidity (if so, consider this issue a call for help, thanks).

Lately both oysttyer and old ttytter inform me on startup that they're using ReadLine::Stub and the consequence is (I presume) that I can't use the character counter, cannot move in the text while composing a tweet (e.g. "left" key inserts `^[[C` instead) and so on. As my perl

[2015-12-13 14:20] atomicules commented on #43
Normally happens when you've upgraded (perhaps unintentionally?) the
perl you are using and you need to reinstall the TTYtter readline.

Excuse brevity.

[2015-12-13 15:03] edison23 commented on #43
oh.. thanks, i totally forgot about that. But - i've installed `Term::ReadLine::TTYtter` via `cpan`, but it still doesnt work (uses ReadLine::Stub); is there be any other obvious config i need to do?

edit: after install, there was a test of the new module and it looked like it was working (character counting and left/right movement in the text worked)

[2015-12-13 18:12] classilla commented on #43
Are you sure the Perl you installed it under is the same Perl running TTYtter/oysttyer?

[2015-12-13 18:52] edison23 commented on #43
pretty much, here's why:
I cloned oysttyer fresh (deleted it some time ago accidentally, I think), when tried to run it, got `/usr/bin/env: perl -s: No such file or directory` so I took the path I got from `which perl` and put it the shebang (hope I'm using the term right, TBH, I've seen it for the 1st time today xD) of the oysttyer script: `#!/usr/bin/perl -s`. After that oysttyer runs fine, exce

[2015-12-13 19:55] classilla commented on #43
The environment variable is correct. The `perl -s` error indicates you seem to be bitten by what I warned about in pull #39. More to the point, I think you do have two separate Perls here.

What happens when you do `/usr/bin/perl -MTerm::ReadLine::TTYtter` ? If it's installed correctly, you should get something like `Can't locate object method "Features" via package "Term::ReadLine::Stub" at /usr/

[2015-12-13 20:23] edison23 commented on #43
OK, got the 2nd error, so I've used `whereis -b perl`, that gave me another location - `/usr/bin/X11/perl`. When tried `/usr/bin/X11/perl -MTerm::ReadLine::TTYtter`, got the same error - `Can't locate Term/ReadLine/TTYtter.pm in @INC`

I feel very newby and lost here, grh. Totally clueless as how to go on from here.

[2015-12-13 20:51] atomicules commented on #43
What is your output from `cpanm -V`?

[2015-12-13 22:23] edison23 commented on #43
[code]

[2015-12-13 22:34] atomicules commented on #43
Sorry, I meant `-V` (capitial V). You should be able to see which
version of perl it is using and where it is looking for perl libraries
(`@inc`).

[2015-12-13 22:49] edison23 commented on #43
oh.. sorry, haven't noticed the capital 'v' as there was the typo.. a/w, seems there's something definitely totally wrong (obviously permissions, but why? I haven't touch any perl config I think xD)

[code]

So I randomly tried:

[code]

[2015-12-14 09:49] atomicules commented on #43
I missed that you tried `cpan` originally. Try `cpanm -V` (as in version output from cpanminus).

But, anyway, it does say you have "no directories for PERL5LIB" and the same for PERLLIB. It could just be that Perl can't find the things cpanm is installing.

I have the following environment variables defined in my shell rc file. I'm guessing you are going to need something similar:

[code]

I have

[2015-12-14 10:52] hak4fun commented on #40
Hope you will build it in ....it's so simple same like /block /unblock functions....

[2015-12-17 14:14] edison23 commented on #43
Thank you, the path to PERL5LIB did the trick, perl obviously didnt know where to find cpan's stuff.

And sorry for the delay, a/w, solved, closing. Thank you all.

[2015-12-17 14:14] #43 closed, assigned to nobody

[2015-12-17 14:18] IvanSanchez opened #46 "Pressing "end" on Term::ReadLine::TTYtter"
This is more a question for @classilla than a bug in oysttyer...

I'm slightly annoyed by a lack of functionality in T:RL:T; namely, when pressing the "end" key, the cursor won't jump to the end of the line.

This is weird, because pressing "home" will jump to the beggining of the line, and pressing Ctrl+`E` will jump to the end.

So, where should I report a bug in T:RL:T?? Are there any plans to

[2015-12-17 16:57] classilla commented on #46
Answering the second question first: T::RL::T is Perl license, so feel free to fork it, but I still maintain T::RL::T for my own projects.
As far as the End key, I'll look at it, though I'm trying to make relatively infrequent updates so I'll store this up for the next release.

[2015-12-17 22:08] atomicules commented on #46
Pressing the end key works for me, so I guess this is one of those
annoying differences between terminals, etc.

[2015-12-18 17:29] IvanSanchez commented on #32
Argh, this is happening **again**.

(╯°□°)╯︵ ┻━┻

[2015-12-18 17:39] funnelfiasco commented on #32
I believe TTYtter arranged a special exception that kept that flag from getting thrown. Perhaps @Classilla can provide some guidance?

[2015-12-18 20:44] atomicules commented on #32
I'll raise a ticket again. Thanks for reporting it here, been off
Twitter altogether today as just been insanely busy.

I'll do as suggested last time and see if we can get a permanent fix
from Twitter.

Will let you all know when we can tweet again.

[2015-12-18 23:48] classilla commented on #32
I probably did have some special dispensation, but it wasn't a formal arrangement, so I can't really advise you. That was during the days of Taylor Singletary and I guess it carried over.

[2015-12-21 23:17] atomicules commented on #32
I've not heard anything back from Twitter since Friday, but it was
late evening UK time and then it has been the weekend. Hopefully the
longer response time this time round means they are considering a more
permanent resolution. In the meantime I've merged in the changes that
allow you to specify your own oauthkey and oauthsecret.

[2015-12-22 11:00] #40 closed, assigned to nobody

[2015-12-22 11:02] atomicules commented on #40
Thanks very much for this contribution and apologies it took so long to merge it in.

[2015-12-22 22:38] atomicules commented on #32
Hi all, I've received a reply from Twitter and we are unmuzzled again,
but this is the last chance they are giving us:

I have asked for more clarification and details on whether we have
accidentally triggered the spam block via real users or whether
someone has stolen our keys. If it is a key stealing issue then
perhaps just some form of obfuscation would do the trick (It'd stop
scrapers, etc).

[2015-12-22 22:42] funnelfiasco commented on #32
I vote we go ahead with the "bring your own oauthkey" plan. Twitter seems to be completely uninterested in working with us on this.

[2015-12-22 22:49] atomicules commented on #32
On 22-Dec-2015 14:42:03, Ben Cotton wrote:

Yeah, it isn't actually a bad idea. I wonder if we can streamline it
at all during set-up, or perhaps it just needs clearer docs?

[2015-12-22 22:50] funnelfiasco commented on #28
Okay, I've thought about this and here's my plan for the docs. I'll wait a couple of days before moving on this in case there are objections and discussions.
- I'll create a separate repo for the docs to minimize what people grab if they just want the core oysttyer
- I'll write them in ReST/Sphinx so we can publish them on readthedocs.org. They'll also render happily in the GitHub browser view, so

[2015-12-22 22:52] funnelfiasco commented on #32
I think better docs are probably sufficient. I was able to figure it out pretty quickly while only halfway knowing what I was doing. See my recent comment on #28 about docs. I should be able to get at least basic user docs done in the next few days.

[2015-12-22 22:59] atomicules commented on #28
Well, like I said, I was planning (and had just about made a start)
on moving the existing docs across to the Wiki and converting to
markdown format in the meantime. But if you are will to take on a
whole re-write I'd be really grateful for that and I could focus on
the code instead.

[2015-12-22 23:01] funnelfiasco commented on #28
If you want to, we can create the docs repo now and you can toss the markdown that you've converted into there, and as I rewrite stuff, we can start dropping the old markdown.

[2015-12-22 23:04] atomicules commented on #28
Sure, go for it. I'll need to switch computers to get the pandoc
conversion, etc.

[2015-12-22 23:13] atomicules commented on #32
Just had a look at TwitVim and we aren't the only application to store
the consumer key and secret in plain sight so I don't think that is
the issue necessarily.

It is either that Twitter wants to kill us off (but in all fairness
they have been pretty co-operative in re-activating us) or perhaps
there are spammers out there utilising oysttyer.

In which case, obfuscation would never help us, but

[2015-12-22 23:29] atomicules commented on #20
Closing this out

With commits:
- 16ba40547bf1696c97d698b33f243e3bf8ce3399
- 53ff301291a123a855a68b195eb3f50a02009701

[2015-12-22 23:29] #20 closed, assigned to atomicules

[2015-12-23 17:57] greenled commented on #32
I think it's a good idea. That way spammers won't bother us again.

[2015-12-26 01:51] funnelfiasco commented on #28
I changed my mind a bit after looking into GitHub pages more. I think that makes more sense for us. At any rate, I've started the User Guide: http://oysttyer.github.io/docs/userGuide.html

More to come in the next few days. In the meantime, documentation bugs should be filed as issues on https://github.com/oysttyer/oysttyer.github.io

[2015-12-26 01:51] #28 closed, assigned to nobody

[2015-12-26 23:18] #18 closed, assigned to atomicules

[2016-01-03 07:53] dziq opened #47 "/usr/bin/env: perl -s No such file...."
Hello,
I've just cloned oysttyer but I can't run it. I have:
/usr/bin/env: perl -s: No such file or directory
Any hint?

[2016-01-03 12:00] funnelfiasco commented on #47
You can either change the first line to be:

[code]

Or invoke oysttyer as an argument to perl:

[code]

Whichever shebang we use, it's apparently not going to work for some
people.

I've started a User Guide  (http://oysttyer.github.io/docs/userGuide.html)
which may be of help as well.

[2016-01-03 12:00] atomicules commented on #47
See #39 for further discussion.

Personally, my bullet-proof solution is to just do:

[code]

[2016-01-03 17:08] dziq commented on #47
Ok, thanks for quick reply. I've changed oysttyer.pl to:

 #!/usr/bin/perl -s

[2016-01-05 10:08] werid opened #48 "URLs in quoted tweets aren't expanded when shown via thread command"
Hi,

when using the /thread command, any URLs featured in quoted tweets aren't expanded. they show as t.co links. (but the URL to the quoted tweet is shown in full)

how it appears in feed:

[code]

how it appears when viewing via /thread

[code]

This behavior seen on 2.6.0.

[2016-01-05 13:17] atomicules commented on #48
Thanks for the report. I'll take a look.

[2016-01-06 14:15] IvanSanchez commented on #48
I suggest using https://github.com/oysttyer/oysttyer-deshortify as a workaround in the meantime.

[2016-01-06 14:18] atomicules commented on #48
Indeed. That's why I often don't notice these issues. I forget to
disable when developing, etc.

[2016-01-06 22:51] atomicules commented on #48
This is quite an interesting issue. Making progress in the branch I've
just pushed, but not solved it completely.

[2016-01-10 11:50] atomicules commented on #32
Heard back from Twitter again on this regarding what is triggering the spam
block:

So we still don't know exactly what hashtags or handles were causing it.
I can still only presume it was the mentions of Oysttyer itself.

I think we've done what we can. If we do get restricted again (which
will be permanent) then users will just have to switch to their own
consumer keys.

[2016-01-12 15:39] bartbes opened #49 "Expand "video" urls"
I've noticed that tweets with video in them link to the thumbnail. Maybe it would be nice replacing the link with a link to the actual video?

For reference, the thumbnail url looks like: `https://pbs.twimg.com/tweet_video_thumb/<id>.png`
and the corresponding video is: `https://pbs.twimg.com/tweet_video/<id>.mp4`

As for downsides, people without mp4 playback support in their browsers won't be ab

[2016-01-12 15:45] IvanSanchez commented on #49
This should be easy to do as an extension (similar to deshortify, which already modifies inline links).

Can you please `/dump` a tweet with video, to make sure of how the internal structure looks like?

[2016-01-12 16:03] funnelfiasco commented on #49
I'd vote for it being in the core. Giving a link to the thumbnail is
probably not the right default behavior, even for a CLI-based client.

[2016-01-12 16:09] bartbes commented on #49
Here's a dump:

[code]

[2016-01-12 16:12] atomicules commented on #49
I can pick this up, should be pretty straight-forward.

[2016-01-13 21:43] funnelfiasco commented on #46
I'm going to close this because it's a Term::ReadLine::TTYtter issue and we have no plans on forking that any time soon.

[2016-01-13 21:43] #46 closed, assigned to nobody

[2016-01-15 20:29] cwage opened #51 "sponsored tweets?"
I recently switched from ttytter and have noticed the appearance of sponsored tweets in my timeline along with the change.

I am guessing twitter is just delivering these like any other tweet, but I never got them in ttytter -- any way we can undo that, uh .. "feature"?

[2016-01-15 20:37] atomicules commented on #51
Interesting. I've not seen them myself. That could well be an
arrangement TTYtter had in place or perhaps it is a recent change for
third party clients?

There is no way we could incorporate filtering of  sponsored tweets in
oysttyer, we already seem to suffer Twitter's wrath. It may well be
possible for someone to write an extension for oysttyer that could
filter sponsored tweets, but, again, I d

[2016-01-15 20:40] funnelfiasco commented on #51
I, too, haven't noticed them, but we might not call them out as sponsored tweets. @cwage, can you do a `/dump _id_` on one and share that? I believe hiding them would violate the Rules, but it might be worthwhile to call them out as sponsored. (If nothing else, that would be useful for anyone who would write a totally unofficial plugin to filter them out).

[2016-01-15 20:49] cwage commented on #51
[code]

[2016-01-15 20:50] cwage commented on #51
I'd be okay filtering them in a plugin (i already have a few plugins for filtering arbitrary content), but it's not clear to me that there's any indication that it was a sponsored tweet -- which is making me wonder why i never saw them in ttytter

[2016-01-15 20:53] cwage commented on #51
actually on second thought it might be as simple as checking if quoted_status_id_str and retweeted_status->id_str are both empty?

[2016-01-15 20:54] cwage commented on #51
anyways, not really an oysttyer issue at this point, I'll close and if I can get something working I'll dump it in a plugin

[2016-01-15 20:54] #51 closed, assigned to nobody

[2016-01-15 20:55] atomicules commented on #51
I just did a full json dump of that tweet and you are correct, there
doesn't seem to be any indication it is sponsored or promoted (at
least at initial look).

[2016-01-15 22:30] atomicules commented on #51
I would have thought that would just filter most things from your
stream.

Although the json dump for the individual tweet didn't show any fields
that indicate it is promoted, etc, perhaps the json structure for the
stream might be slightly different and give some indication.

But getting a reproducible example might be a bit fiddly.

[2016-01-18 01:38] classilla commented on #51
No, no such arrangement existed.

[2016-01-20 10:33] glspisso opened #52 "Alternate color mode"
Would be nice to have alternating color, possibly two colors for tracking and two other for regular feed. This would make everything more readable, as one could easily distinguish where tweet start and end at a glance inside block of updates (which are all in one color atm).

Pseudo-Example

[red] g1> <%searched_guy> [/red]
[orange] g2> <%searched_guy> [/orange]

[blue] a1> <%rnd_guy> [/blue]
[cya

[2016-01-20 11:27] IvanSanchez commented on #52
As I understand it, the problem is telling individual tweets apart, and the proposed solution is to use alternating rows of color, like the old kind of paper we used to use in dox matrix printers.

![](http://www.appleforms.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/B/l/BlueBar_19.gif)

The main problem I see right now is that oysttyer uses [16-color ANSI mode](https:

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:36] glspisso commented on #52
Yes, you understand correctly.

Since 16-color ANSI feature a normal and a bright color, couldn't we use that to give a sense of "alternated rows" as you suggest? That would sidestep the issue of adding more color and seems appropriate for the request.

[2016-01-20 11:39] IvanSanchez commented on #52
oysttyer already uses "normal" and "bright" to highlight search/track terms in tweets, so that's not an option.

[2016-01-21 23:36] edison23 opened #53 "threading"
Currently the behaviour of command `/th` is that it'll show all tweets ((preceeding in time) && (in the thread)) of the tweet the command `/th` is invoked on. _(sorry for such horrible german-ish sentence, I had to use brackets to make sure it's readable only one way xD)_

This means that if `/th` invoked on the first tweet of the thread, only the tweet itself is shown.

Now, when I open the same

[2016-01-21 23:49] funnelfiasco commented on #53
I think that's some special sauce that Twitter keeps to itself. The way OysTTYer handles threading is to look at the `in_reply_to_status_id_str` attribute. I'll see if there's a way to look "forward".

[2016-01-24 19:45] nfshr opened #54 "Adding blank lines in–between tweets?"
Is there a way to add blank lines in–between tweets for better readability? As of now oysttyer is pretty cluttered, as far as i'm concerned..

[2016-01-24 20:43] funnelfiasco commented on #54
There's nothing to allow that currently, though it's a pretty trivial feature to add.

[2016-01-24 22:13] nfshr commented on #54
Would be much appreciated.. thank you for answering.

[2016-01-25 08:07] IvanSanchez commented on #54
I guess a temporary solution would be to add a newline character to the timestamp format string.

[2016-02-01 11:12] atomicules commented on #8
Adding this report for future reference.

See [this gist](https://gist.github.com/johndalton/f8bc9055fa03b19d1870/) (although contents reproduced below)

and these tweets:
- https://twitter.com/johndalton/statuses/693994083186966528
- https://twitter.com/johndalton/statuses/693994281036451840

[2016-02-06 15:48] trs80 opened #55 "Append :large to twitter image URLs"
Reading #49 reminded me that the default image URLs are resized versions, and the original can be accessed by appending :large to the URL. I often use OS X Terminal's quick look, which means I can't easily append it manually (unlike if I'd right-clicked opened in a browser).

[2016-02-06 16:37] trs80 opened #56 "Show original tweet time of native RTs"
People sometimes RT politicians tweets from years ago (usually when they espoused an opinion that would embarrass them today), but the timestamp oysttyer shows is of when the RT happened. Quoted tweets show the original time. So could you make native RTs show the time of the original tweet?

Examples:
Native RTs:

`r5> [2016-02-06 20:42:45] (x887) <%NewtonMark> RT @CeltThulu: User: pls fix abuse\n

[2016-02-06 16:42] funnelfiasco commented on #55
That's a good idea. Shouldn't be too hard to enable as an option. I'm not sure we'd want it always on, but I'm open to that argument.

[2016-02-06 16:43] funnelfiasco commented on #56
I'd never noticed that, but that's definitely a bug. I'll take a look at it (or someone else will if I get distracted, which happens often)

[2016-02-06 17:40] #4 closed, assigned to nobody

[2016-02-07 02:47] funnelfiasco commented on #11
I have a change inbound to implement this with a new command. Not quite as slick as using the `/dm` command, but it's functional, at least. I'm open to improvements.

[2016-02-07 02:47] #11 closed, assigned to atomicules

[2016-02-07 02:49] funnelfiasco commented on #5
We support sending 140+ character DMs now. Does it make sense to close this issue and open a separate issue for invoking $EDITOR?

[2016-02-07 04:04] funnelfiasco commented on #56
This might be a little harder than I'd first thought, so I'm leaving this note for myself (or whomever) to save a little bit of time when it gets looked at again.

It seems when a tweet is retweeted, the created_at is the time the user retweeted it. What we _should_ be displaying is the 'retweeteted_status' => 'created_at' value. It shouldn't be too painful to do that conditionally, since we alrea

[2016-02-07 13:10] trs80 commented on #55
This only works for the for the first image when there are multiple; I think you need a `g` at the end of the regex.

[2016-02-07 20:51] funnelfiasco commented on #55
You're absolutely right. That'll get fixed in the next push.

[2016-02-07 20:53] funnelfiasco commented on #49
@atomicules I have something ready to go for this, but I don't want to step on you if you're working on something. Let me know if you want me to push my change or hold off.

[2016-02-07 21:34] #55 closed, assigned to nobody

[2016-02-07 21:35] funnelfiasco commented on #56
@trs80 I just pushed what I think is a fix for this. Can you verify that you get the timestamps you expect now?

[2016-02-07 22:15] #54 closed, assigned to nobody

[2016-02-07 22:21] atomicules commented on #49
I almost have something to go as well. Sorry have been really busy as
of late. I ended changing a lot of `destroy_all_tco`. If you can give
me a day or two I'll get it pushed up.

All the code changes are done, I just need to do the commit message,
but I want to write a proper one.

[2016-02-07 22:26] funnelfiasco commented on #53
So I finally got around to looking into this further, and even in a full json dump, there's no reference to any replies. We could do something like get the replies to the user and see if any of them are in reply to the tweet in question, but that seems expensive and prone to failure (might be worth trying it out as an extension for a while and seeing if it is workable).

Apparently a lot of people

[2016-02-07 22:26] #53 closed, assigned to nobody

[2016-02-07 22:29] funnelfiasco commented on #49
Works for me. I was going to do something a bit hackish like I did for the `:large` image URLs, so I look forward to seeing your implementation.

[2016-02-07 23:16] edison23 commented on #53
Obviously twitter has something we dont... I can see a possibility in parsing a web output (from lynx, for example), but even at this time of a night it seems to me like a bad idea... let's keep this one sealed.

(also, I dont understand the invalid tag, but whatever, doesn't matter)

[2016-02-08 21:52] #49 closed, assigned to atomicules

[2016-02-08 21:57] atomicules commented on #48
I'm back on this now I've closed out #49.

[2016-02-08 22:03] atomicules commented on #48
Labelling of this issue may have gone haywire - I'm using ghi from the command line to try to change labels. I didn't mean to remove the in progress label. Definitely on this one next/now.

[2016-02-09 08:03] atomicules commented on #56
Sorry about removing the label. I think I must have deleted the entire label instead of removing the label from the issue.

[2016-02-09 08:05] atomicules commented on #5
@funnelfiasco Ok, yeah, I'll open a new issue for that.

[2016-02-09 08:05] #5 closed, assigned to atomicules

[2016-02-09 08:26] atomicules opened #57 "Allow use of $EDITOR for composing long DMs"
(And perhaps long tweets should that ever become a thing :fearful: )

This is split out from #5. Plan is still to look at Texapp and see if they've done anything of use we could use.

[2016-02-10 15:04] trs80 commented on #56
Yep, they're now showing as the correct past time.

[2016-02-10 15:04] #56 closed, assigned to funnelfiasco

[2016-02-10 15:05] trs80 commented on #55
The regex needs a bit more tuning - \w+ doesn't match https://pbs.twimg.com/media/Ca1-To_W8AAREfj.jpg

[2016-02-10 16:23] funnelfiasco commented on #55
I couldn't find a reference to what characters Twitter might put in a URL, so I just went with any-non-whitespace character. That should solve this for good (or until they change something else). Thanks for catching this.

[2016-02-10 19:55] atomicules commented on #55
We could think about handling this in `destroy_all_tco` instead
of regexing it. Somehow. As long as we can be sure that the media is
an image as I'm guessing :large won't work on video thumbnails?

[2016-02-10 20:17] atomicules opened #58 "/dump of a tweet id does not destroy tco in the text"
Whereas `/dump` of the same tweet's menu code does destroy tco.

Stumbled across this when working on `destroy_all_tco`. It has always behaved this way. I'm not sure if this is intended/correct behaviour or not. In someways it is nice to be able to use this behaviour to see what the text was before detco so I'm not necessarily going to "fix" this, but I would like to understand why it behaves this

[2016-02-11 00:44] classilla commented on #58
Very simple: I never noticed there was a difference. :P

[2016-02-11 01:46] trs80 commented on #55
On Wed, 10 Feb 2016, atomicules wrote:

It seems to work OK:

https://pbs.twimg.com/ext_tw_video_thumb/696860539570421760/pu/img/V1u2tvlb2hsw5mwF.jpg:large
https://pbs.twimg.com/tweet_video_thumb/CazIIg7UMAAUmVZ.png:large

[2016-02-11 14:31] atomicules commented on #58
Thanks for letting me know.

[2016-02-11 16:10] atomicules commented on #55
Ok, what we could try is at [this point](https://github.com/oysttyer/oysttyer/blob/11deaa16a94701eb340a0c492040dcffd9ac67d4/oysttyer.pl#L7319) in the code doing something like:

[code]

But that is over-simplified as we only want to do that to image urls.

So... thinking about this a bit more it will probably be more verbose than the current solution and we still might need a regex to at least mat

[2016-02-11 17:18] Llammissar commented on #57
It's not clear what the project position on modules is, but this seems like it would provide the necessary functionality: http://search.cpan.org/~jmates/Term-CallEditor-0.66/lib/Term/CallEditor.pm

[2016-02-11 17:23] Llammissar commented on #47
I think the "correct" solution may be to discontinue use of the -s switch entirely and move to Getopt::Long-- the current option parsing and setup is awfully hairy, IMO.  It's a tedious thing, though.

[2016-02-12 00:27] classilla commented on #8
There was a similar issue in Texapp which was due to the app tripping over itself when a print and a signal would occur at the same time. Unfortunately, the Texapp solution will break extension compatibility: basically background prints are emitted to a buffer and the buffer is emitted at safe intervals, which can delay some printing in the background for several seconds or more. This didn't compl

[2016-02-12 00:30] classilla commented on #57
To get this to work in Texapp, I implemented a hold command for the background which stored up posts until the background is "un-held" and just called the editor directly with a `system()` call, no module necessary. You can look at most of the code in `sub updatest`.

[2016-02-15 15:35] atomicules commented on #57
@classilla Fab, thanks.

[2016-02-22 22:13] #48 closed, assigned to atomicules

[2016-02-24 21:53] atomicules opened #61 "tco are not destroyed in /whois (user profiles)"
And it has always been this way. Not even sure if it is possible to destroy
them, need to look into what info the API actually sends.

The existing `destroy_all_tco` sub routine is explicitly set-up for the Tweet
json structure so a fix isn't quite as simple as hooking into that.

Low priority. Can't really assess whether this is easy or hard until I've
checked the API docs.

[2016-02-24 22:03] atomicules opened #62 "Libnotify might be broken"
See:
- https://twitter.com/persidentObama/statuses/700647378693414914
- https://twitter.com/persidentObama/statuses/700652912196714496

also possibly related, see the thread on this tweet:
- https://twitter.com/dpreacher/statuses/699267054688276480

I typically don't use any form of desktop (framebuffer all the way!) so I might
not be able to check this one out.

[2016-03-02 10:15] chrisvoncsefalvay commented on #29
I am actively using oysttyer (I wish I could remember how to type it every time :S) after using ttytter for yeeeeears. I'm thinking of spending some time picking up some issues. Happy to be added.

[2016-03-06 09:37] sesom opened #64 "Can't use oysttyer with own application"
I have problems to use oysttyer with an API key, with the build-in API everythings works fine.

Created an app as described (did this 5 times in the meanwhile, double-checked everything), noted down API key and API secret, started oysttyer with oauthkey and oauthsecret-parameters, hit the blue button, got my number and entered it.

[code]

Result looks good:

[code]

I visit the URL ....

[code]

[2016-03-06 09:59] atomicules commented on #64
Hi,

On 06-Mar-2016 01:37:06, Klaus wrote:

You still need to supply the oauthkey and oauthsecret parameters here
to override the default ones and continue to supply them every time
you want to use your own app credentials.

[2016-03-06 10:19] sesom commented on #64
Oh my, that sounds reasonable. I thought the access token is enough to tell Twitter what I want. Maybe this should be mentioned in the documentation more cleary (or maybe I'm the only one who overread the "ck=X&cs=X" ....

Anyway, thanks.

[2016-03-06 10:19] #64 closed, assigned to nobody

[2016-03-06 10:24] atomicules commented on #64
It is mentioned in the README, but you are correct in that it could be
clearer.

Adding to my todo list...

[2016-03-06 10:31] sesom commented on #64
After I dodged this bullet I am more than happy to have a nice and slim client, that works fine over a DNS tunnel. I spend quite many hours on airports and planes, will try that next week on my 12 hours flight to Tokyo with Japan Airlines ($20 for inflight-wifi).

[2016-03-07 10:21] sesom opened #65 "Block retweets or at least show them in a different color"
In my desktop (Tweetdeck for Chrome) and mobile client (Tweetings for Android) I blocked retweets. I simply don't want to see them and there are too much of them. Is there a possibility in oysTTYer to do the same? Or at least show them in a different color?

Documentation is a bit thin about filtering. Is there on overview?

[2016-03-07 10:31] edison23 commented on #65
You can block all retweets or retweets from a certain user in Twitter settings on the web, I believe, so there is no need to have that ability in the client. Correct me if I'm wrong, tho.

[2016-03-07 10:35] atomicules commented on #65
`-nonewrts` might do it. Are you looking at the Oysttyer documentation
or the old TTYtter docs? We still need to move a lot of that over /
re-write, etc.

[2016-03-07 10:58] sesom commented on #65
@atomicules Thanks, -nonewrts does the job. When I'm back from travelling I can offer some time to help with the documentation.

@edison23 That is true in theory. First, it is a pain to do that for every single user you're following. Second, it does not work properly, sometimes RTs come through.

[2016-03-07 10:58] #65 closed, assigned to nobody

[2016-03-07 11:23] woffs opened #66 "non-ascii search terms"
`/se köpenick`
returns results for "penick" instead of "köpenick".

[2016-03-09 17:19] atomicules commented on #10
Group DMs not currently supported via the API

Been researching this a bit today. It seems it is not possible to implement this functionality yet:
- https://twittercommunity.com/t/group-dm-support-via-the-apis/31266
- https://twittercommunity.com/t/how-to-send-group-message/61288

[2016-03-09 18:00] atomicules commented on #37
@ivansanchez I just had a look into this and I'm not seeing this issue. I.e. if I send a dm it gets formatted as:

[code]

And this mark-up/formatting has been there since TTYtter (line 5621):

[code]

Same mark-up applies for `/dmsent`.

[2016-03-09 22:20] atomicules commented on #47
Finally started looking into this properly and I think I'm with @Wyatts in that if we want to use `/usr/bin/env` then we will need to move to using Getopts::Long. I'll open a separate issue for that. In the meantime I'll rollback to what TTYtter used.

[2016-03-09 22:23] atomicules commented on #47
Forgot to say that the problem with `/usr/bin/env perl -s` is that it's not valid syntax. We can have `/usr/bin/env perl` or `/usr/bin/perl -s`, but not "both".

[2016-03-09 22:29] atomicules opened #67 "Switch to Getopts::Long for command line options so we can use env in shebang"
References issues:
- #39
- #44
- #47

[2016-03-09 22:30] #47 closed, assigned to nobody

[2016-03-10 10:46] atomicules commented on #29
@chrisvoncsefalvay Sent an invite so you can be a member. Sorry for the delay, but I'm not often on the Github website itself.

[2016-03-10 11:42] IvanSanchez commented on #37
The problem is in [oysttyer.pl#L1371](https://github.com/oysttyer/oysttyer/blob/master/oysttyer.pl#L1371): the `$whoami` variable is lowercased.

So when the comparison for the DM sender is done around 5620, your oysttyer is comparing `atomicules` vs `atomicules` but my oysttyer is comparing `realivansanchez` vs `RealIvanSanchez`.

[2016-03-10 12:23] atomicules commented on #37
Excellent info, thanks!

[2016-03-10 19:39] #37 closed, assigned to nobody

[2016-03-11 07:52] jest opened #68 "Split the script into smaller parts"
Don't want to be a pain in the rear, but as a newcomer to the oysttyer codebase it is really difficult to find a logic in 7k lines script.

Is there a prospect of walking toward some modularization of the code? I clearly see the advantages of the one-file distribution, but to boost the development, esp. in the form of PR from others like me, it would be nice to have a way to modularize the thing.

[2016-03-11 17:29] atomicules commented on #68
I guess we should discuss it. I'm still a long way off understanding
all of the codebase and I'll admit it is hard work. So from that point
of view I'm certainly for splitting it up - it would make things
easier for me.

However, we should probably also think about what attracts people to
Oysttyer (i.e. what attracted people to TTYtter) and a spaghetti mess
of Perl code is a large part of the appe

[2016-03-11 17:35] IvanSanchez commented on #68
Split it.

[2016-03-11 21:10] atomicules commented on #68
If we did/do split it we could always distribute via cpan which would
also solve the shebang issue (as it re-writes it to suit the system it
installs on, I think? Something like that).

[2016-03-11 23:28] classilla commented on #68
Just as the historical view, I tend to prefer monolithic installs because it lowers the barrier to entry (just slap the script on and you get basic functionality on virtually any system with Perl, even a bare executable). But I'm the past, not the future. :)

A compromise might be a trivial "build" process that gloms everything together into a single script as before, off a modular repo. Then peop

[2016-03-11 23:30] Llammissar commented on #68
I won't deny that it's cool that it works as a single file.  But when I tried to understand what it's even doing, I quickly came to despise the single-file aspect (I wanted to extend the tweet IDs so it doesn't wrap at z9).  This is the opposite of welcoming, even for someone paid to write perl professionally. -_-

What I think I like most about this client is it hits a great sweet spot between fe

[2016-03-11 23:31] classilla commented on #68
The big thing to watch out for is globals -- there are a lot of globals which handle state. These would need to be encapsulated presumably in some sort of state object, so some significant refactoring may be in store.

[2016-03-11 23:34] funnelfiasco commented on #68
I'm with @classilla. Right now, a user doesn't need to know anything about Perl to use this. If we make it more complicated, we scare off users. Having done a fair amount of development work on this as well, I'm totally sympathetic to the pain of trying to figure out which of the 7000 lines needs to change, but I worry about how many worms are in that can, so to speak.

[2016-03-12 10:45] jest commented on #68
I'm all hands for split, not to mention CPAN-ification (just didn't wanted to push too much ;)).

As for the concerns about the lost usefulness of single-script distribution. The amalgamation process that @Wyatts mentions and @classilla pointed out to be a good release practice, is certainly possible. We have fatpackers like App::FatPacker, App::Implode, which take your script, analyse the depende

[2016-03-12 23:07] Llammissar commented on #68
@jest
Those modules are interesting!  I was envisioning something more crude, to be honest.

To be fair, I don't think there's anything unreasonable about expecting people to have a perl that's younger than five years old if they're doing active development.  Nor do I think running a quick script before uploading the single file that comes out of a tagged release is too onerous.

Really, if that's

[2016-03-12 23:23] atomicules commented on #68
Historically it has been very kind on older versions of Perl. From a
CI point of view, 5.14 is the oldest we can go back to so I'm
personally fine with dropping support for earlier versions than that;
I know for a fact we have users on 5.14.

[2016-03-12 23:42] Llammissar commented on #68
Eh?  I wasn't suggesting dropping end-user support for whichever old perl that no one should really be using.  To be clear:

I know very well how ancient installs of CantOS, etc. linger and I'm intimately familiar with not having a choice about working with things like that (at work, I'm generally restricted to perl-5.10.2 orz).

[2016-03-12 23:46] atomicules commented on #68
Ah, ok. Sorry.

[2016-03-14 12:12] IvanSanchez opened #69 "oysttyer hangs when replying to deleted tweet"
I've observed oysttyer hanging up a few times (no prompt, no new tweets, no error messages). I _think_ the conditions necessary to reproduce are:
- See a tweet from somebody appear on your timeline
- That somebody deletes the tweet (but you can still see it in oysttyer's UI)
- Reply to that with the usual `/re a0 whatever`
- See oysttyer hang up

I'm using d2d6af297 and perl 5.22.1, if that matter

[2016-03-14 16:05] Llammissar commented on #69
Is that repro reliable?  Because it sounds awfully similar to bug #8, which has been kind of a pain in the butt for me for a while now.  (Even though there was some conjecture that that one doesn't happen with 5.22.x, I'm not sure if that's true.)

[2016-03-15 12:21] kuh3h3 opened #70 "JSON error"
of cource my account is ok , token is ok.  i used  well.
suddenly Json error occurred.

~]$ perl /home/reandr/oysttyer.pl -dostream -vcheck -verbose=1
-- termios test: POSIX::Termios=SCALAR(0x9fc3e18)
*\* attempting to load extensions
*\* loading /home/reandr/oysttyer-multigeo/multigeo.pl
-- Loading MultiGeo extension
-- Will not use GPSD
-- Will not use GeoIP
-- No geocoder specified, falling bac

[2016-03-15 12:29] atomicules commented on #70
Does the same error occur with 2.6.0?

Just trying to work out if I/we have broken something at what point
that happened.

[2016-03-15 13:10] funnelfiasco commented on #69
Yeah, this sounds familiar. I most often notice it when replying (not to deleted tweets), but that's because it's more noticeable then.

[2016-03-15 13:10] kuh3h3 commented on #70
just download 2.6.0. same error. maybe my recent fedora 22  updated json-releated perl. how to check json-related package?

[2016-03-29 18:49] atomicules commented on #70
Sorry for the delay in replying.

On 15-Mar-2016 06:10:53, kuh3h3 wrote:

One way to confirm for sure is to try with the last release of TTYtter
and see if you still get the error there.

[2016-03-29 18:56] atomicules opened #71 "Add Alt text support for images."
As per these announcements:
- https://blog.twitter.com/2016/accessible-images-for-everyone
- https://blog.twitter.com/2016/alt-text-support-for-twitter-cards-and-the-rest-api

Getting it via json is easy and just a matter of including a url parameter. However, we need to think a little about how it is displayed, especially since it can be up to 420 characters per images.

[2016-03-31 11:13] perception101 opened #72 "Get tweet by name and long ID"
For various reasons, I sometimes see tweets linked in an IRC channel with the full URL, for example,

`https://twitter.com/username/status/897364987698576398452345`

I'd like to be able to refer to that tweet in oysttyer, but sometimes `/again username` doesn't go far enough back and even if it does, it's not obvious which tweet is being referred to.

So, I'd like to be able to do `/again username

[2016-03-31 18:06] #36 closed, assigned to atomicules

[2016-03-31 22:28] atomicules commented on #41
Sorry for the long delay in looking at this, but I pushed it out to tie in with the dm milestone. Now I've started looking at this issue it doesn't actually require changes to Oysttyer and this can be solved with existing functionality (extensions).

What you can do is define an extension called `dmids.pl` and within it put this code:

[code]

And then on the command line run:

[code]

I do get a

[2016-03-31 22:28] #41 closed, assigned to nobody

[2016-04-01 12:07] kuh3h3 commented on #70
thanks . i closed this issue.

[2016-04-01 12:07] #70 closed, assigned to nobody

[2016-04-16 17:13] Fluffkin opened #73 ""Poll" idea"
I know including twitter polls would be a PITA, but! ..
Wondered if it would be possible to prepend the username with something like "#" to indicate the tweet contains a poll (and we can go find it if interested).
We already have "@%↑ as username prepends, so I figured it might be fairly easy to add.
[# because it denotes numbers, poll = count of votes]

[2016-04-16 17:41] atomicules commented on #72
Forgot to comment originally, but you can already (since the TTYtter days) operate on tweet IDs, e.g:

[code]

So, it depends exactly what you want to do with the tweet, but you might already have the functionality you need. Thread is probably your best bet.

However, we could also think about adding an explicit command to get a single tweet.

[2016-04-16 17:56] atomicules commented on #73
I not sure if there is any way to do this [yet](https://twittercommunity.com/t/poll-support-for-rest-api/54775).

I'll have a look through the json structure for some example poll tweets and see if there is any indication, though.

[2016-04-16 18:03] atomicules commented on #73
I can't see anything. I.e. there's nothing in `entities` or `extended_entities`.

Example tweet with poll: https://twitter.com/TweetedPolls/status/721155985339863040

Json structure:

[code]

[2016-04-16 19:00] perception101 commented on #72
Aha, perfect, the documentation doesn't seem to reflect that unless I missed something?  Either way - this can be closed!  Thanks.

[2016-04-16 19:00] #72 closed, assigned to nobody

[2016-04-16 19:10] Fluffkin commented on #73
Wow! Way to go Twitter! O.o
I probably don't want to know how the twitter web page figures it out then. (shudder).
Must be from the tweet content, which explains the "show a tweet, oh wait it has a poll, redraw the tweet with a poll" behaviour in the browser.
As the saying goes .. Can't fix stupid.
Thanks for looking in to it.
[Hindsight .. nope can't be in the tweet body (doh!), so yeah, must be

[2016-04-16 19:44] atomicules commented on #73
On 16-Apr-2016 12:10:05, F wrote:

I imagine they have their own private API.

I would have thought it'll eventually roll out to the public APIs so
we can just keep this issue on hold until then.

[2016-04-16 19:48] atomicules commented on #72
I'm sure the original TTYtter docs mention this functionality. We
still have ways to go on sorting out our documentation out though.

[2016-05-04 20:06] atomicules commented on #69
Wasn't really looking at this, but remembered this issue and just tested replying to myself on a deleted tweet and it just sent it through as a new tweet.

I'll have to remember to test this when replying to someone else's deleted tweet.

[2016-05-05 19:26] atomicules commented on #57
The spike in CPU usage I'm seeing isn't related to the editor directly. Maybe not at all? I can just start oysttyer up and not even use $EDITOR and after a while Perl is pegging 100% cpu. Needs some investigation as to whether I really have broken something or not.

[2016-05-06 03:14] cwage opened #74 "no retweet/fave notifications?"
I think this might be something I've done, but I am no longer getting notifications in oysttyer for retweets or faves.. what controls that? are they not on by default?

[2016-05-06 07:08] atomicules commented on #74
Are you running master? I could have broken something related to my work on #57. Otherwise, I'm not sure. This should happen automatically as long as using streaming. I'll have to investigate.

[2016-05-06 16:01] cwage commented on #74
Yes, although I recently did a git pull to update because it was happening prior as well.. Not sure what I was running at that point. I can try to do some debugging later today -- if there's anything you want me to try, lemme know.

[2016-05-06 16:50] cwage commented on #74
It also seems to be acting very strangely/slowly -- even my own tweets don't appear until ~20-30s later sometimes. wondering if twitter changed something

[2016-05-06 18:54] atomicules commented on #74
I too have seen the slow updating thing. I am trying to track down the
point that occurred. It seems hard to reproduce reliably. I _think_ it
is something I've done on master somewhere around commit
2a08d0cdaec834c4c38bf18dd752654d08096e70, but like I say, hard to
pinpoint and reliably reproduce.

My advice would be to use the last release unless you fancy running
each recent commit for a length o

[2016-05-07 00:38] cwage commented on #74
gotcha -- is there a stable release branch?

[2016-05-07 10:28] atomicules commented on #74
No stable release branch, but tagged releases are intended to be
stable. So I'd just check out v2.6.1.

[2016-05-07 10:54] atomicules commented on #74
As in `git checkout 2.6.1`

[2016-05-07 12:42] atomicules commented on #57
I _think_ it has gone wrong after 2a08d0cdaec834c4c38bf18dd752654d08096e70.

[2016-05-07 12:45] atomicules commented on #57
Although that doesn't tie-up with the comments I made on recent commits.

[2016-05-08 20:09] atomicules commented on #74
@cwage Running 2.6.1, are you now seeing rewteet/fav notifications? If so I'll close this out, because the bug is being tracked on #57.

[2016-05-08 20:11] atomicules commented on #57
Ok, so I've run each commit for an extended period of time and it seems it all went wrong (and stays wrong) with d827d6d064c97b9af58837cbe3f0fc196589e8d7. So I definitely need to spend more time looking to see if I've implemented/copied this correctly from Texapp.

[2016-05-08 20:11] cwage commented on #74
just checked it out -- i'll give it a whirl for a while and let you know

[2016-05-08 20:25] cwage commented on #74
no dice with 2.6.1 either

[2016-05-08 20:29] atomicules commented on #74
Hmmmm, ok, thanks. Really not sure what is going on there then. Maybe
this is a separate issue. Perhaps something has changed on Twitter's
end? I'll have to investigate further.

[2016-05-08 21:20] atomicules commented on #74
@cwage It's possibly (probably, hopefully!) this: [Retiring old (v1) Streaming API endpoints on March 31st, 2016](https://twittercommunity.com/t/retiring-old-v1-streaming-api-endpoints-on-march-31st-2016/60351). Apologies. Missed that one! :disappointed:

I'll break out the bad #57 stuff into a separate branch and do a new release with the updated userstream end point. But probably can't do this u

[2016-05-08 21:24] atomicules commented on #74
Just did a brief test. I unliked some of my tweets from another account: no dice. But liking a new one did show up straight away. So this is probably the issue.

[2016-05-08 21:25] cwage commented on #74
Okay, I'll give it a whirl!

[2016-05-09 06:44] #74 closed, assigned to atomicules

[2016-05-09 08:36] atomicules commented on #74
@cwage I closed this out because I'm pretty sure it fixes it, but feel free to re-open if you disagree.

[2016-05-11 20:08] atomicules commented on #57
I've been running these $EDITOR changes for a while now and I'm no longer seeing any CPU spiking or pegging. <embarrassed>I _think_ it was because of the userstream endpoint issue #74</embarrassed>, but I'm going to keep running them for awhile longer to make sure.

[2016-05-14 22:39] #57 closed, assigned to atomicules

[2016-05-22 09:09] edison23 commented on #52
Would it be possible to go the Mutt way, ie. allow user some kind of color config? Bcs I set my terminal to support 256 colors, so there would be no problem with alternating colors and such... (I can imagine it would be hard to implement, tho)

[2016-05-22 15:37] atomicules commented on #52
I can't see why this kind of thing isn't ultimately possible. The next
milestone (3.0.0) is reorganising the code, my gut feeling is that
colour customisation is best waiting for that, i.e. the colors can be
defined in a separate file.

[2016-05-22 15:49] edison23 opened #76 "UI tweak for cleaner timeline"
OK, I just got an idea when I wanted to tweet, then mistyped confirmation letter (`u` instead of `y` xD) and my timeline got littered with all that stuff. Image just to illustrate:

![screenshot_2016-05-22_17-47-19](https://cloud.githubusercontent.com/assets/1723800/15454908/619b0a92-2045-11e6-9392-1170e23e10af.png)

The idea is simple (and still kinda vague), implementation would be super hard, I

[2016-05-27 10:44] #38 closed, assigned to nobody

[2016-05-27 10:47] mackenzie-remote opened #77 "Make Tweet Video Resolution Configurable"
Currently the smallest bitrate is chosen for video mp4 links. Could this be made configurable?

https://github.com/oysttyer/oysttyer/blob/master/oysttyer.pl#L7429-L7441

[2016-05-27 11:13] atomicules commented on #77
It could be.

But I'm not going to do it just yet. I have something else I maintain
that I need to spend some time on first and then the next focus for
Oysttyer will be the code re-organisation as hopefully that would make
it easier for others to contribute.

So I'll have to come back to this.

[2016-05-30 16:24] Jzarecta opened #78 "Migrating from ttyter"
I am migrating to oyster, so I wonder if I can just softlink my .ttyterrc to .oysttyerrc and expect to perform as expected or are the conf files that different that I should re-generate my dotfile from scratch.

[2016-05-30 20:03] atomicules commented on #78
I think most things have stayed the same. The only one I can think of
that has definitely changed is that `ttytteristas` is now called
`oysttyeristas`. Also there are some new options provided under
oysttyer. But in general, yeah, soft linking should work fine.

[2016-06-06 21:02] ghost opened #79 "/short stopped working"
The URL shortener stopped working. Whenever I try to shorten a URL I get an error:

The API for is.gd has changed, but the old request format still works.
Changing the `$shorturl` variable according the actual API reference doesn't help.

vcheck:

[2016-06-06 21:15] atomicules commented on #79
Thanks for the report: I don't think I've ever used that functionality
myself so I wouldn't have noticed.

I will take a look.

[2016-06-06 21:37] atomicules commented on #79
Hmmm, tried to test, but since I run Oysttyer on a server (Linode) I
unfortunately get "Your network address is banned from shortening
URLs..."

All I did was changed line 742 to:

[code]

It didn't work, so I tested from the command line:

[code]

And got the ban error. I tested locally and it shortened fine
(https://is.gd/Rdcy6t) So I presume that Oysttyer would also work
fine locally with the a

[2016-06-06 22:44] vitusson commented on #79
I ran into the same problem yesterday, and fixing the $shorturl line didn't work.
Though it works with the curl command in a shell....

Even with superverbose=1 all I got in oysttyer was

[2016-06-07 20:34] ghost commented on #79
Nope.

The new API call works fine from CLI (not the old one any more):

[code]

Unfortunately, it does not work in oysttyer, even when running locally (superverbose):

[code]

Just tell me, what you need to resolve it.

[2016-06-07 21:14] atomicules commented on #79
Thanks for checking that. A fix is now up on master. Not closing this
issue out yet though as a full fix really needs to return an error
message (unless that proves too fiddly to do, but I'd at least like to
take a look).

[2016-06-09 18:09] ghost commented on #79
The shortener works again, thanks.

[2016-06-14 18:16] Llammissar opened #80 "/replyall erroneously appends tweetId to reply"
Seems to happen with conversations and RTs.  Random example I just grabbed to demonstrate:

[code]

And yes, as I've discovered, that _will_ come out in the resulting tweet.

I looked at the code, but it's really not obvious to me why this is happening.

[2016-06-14 19:01] Llammissar commented on #76
Sounds like the status lines in screen or vim.  I do like the idea; I've had this problem in the past (especially since Term::Readline::TTYtter doesn't know about name expansions).

Amusingly, we might be able to get close through liberal application of moderately-evil hacks.  Basically, I'm thinking we could abuse ANSI cursor movement sequences to overwrite the most recent status message as long

[2016-06-14 21:54] funnelfiasco commented on #80
What version are you seeing this with? I haven't been able to reproduce the error.

[2016-06-14 23:16] atomicules commented on #80
I could see that maybe coming from the quote tweet stuff - somehow,
but also I'm not exactly sure how.

[2016-06-15 18:38] Llammissar commented on #80
Oh good lord, I figured the problem out.  I still had the old r2a.pl extension loading because I changed the wrong rcfile.  (Yes, I'm STILL getting used to the new name.)  Sorry for the false alarm.

I do wonder if there's a way this could have been avoided, though...? (i.e. warn/error if there's a conflict/overload)  Not sure how possible that is, though; prinput() uses regexen for choosing code

[2016-06-15 18:46] funnelfiasco commented on #80
As the author of the reply-to-all extension, I am pleased you found it useful and I apologize it broke oysttyer for you. :-) I stopped using the extension when it got pulled into mainline TTYtter.

I agree it would be nice if we could make it more obvious, but an extension conflicting with a built-in command is a desired behavior in some cases I would think. I'm not sure what the right answer is h

[2016-06-15 18:59] classilla commented on #80
Yes, the original idea was that extensions could overload and replace built-in commands (except for ones like /quit, obviously). You'd probably have to have some declarative method for finding conflicts, but this wouldn't help for older extensions.

[2016-07-03 12:49] #80 closed, assigned to nobody

[2016-07-03 12:50] #78 closed, assigned to nobody

[2016-07-03 15:58] #79 closed, assigned to atomicules

[2016-08-09 17:22] kabads opened #82 "Possible to write out to a file?"
I'm interested in capturing a timeframe of tweets in a feed in to a file (which could later be emailed). Will oysttyer do something like this?

[2016-08-09 18:02] funnelfiasco commented on #82
The simplest way is to redirect stdout (but that makes it a little hard to use): `oysttyer > outputfile.txt`

Arguably the best way would be to write a plugin that dumps incoming tweets to a database, which you could later query. I've thought about doing that in order to make Twitter-based giveaways easier to implement, but I've never actually done it.

[2016-08-09 19:43] werid commented on #82
I haven't used it in awhile, so not sure if it works as-is with the current oysttyer code, but someone wrote this 5 years ago.

https://github.com/pr4wn/ttytter-exts/tree/master/pwntter

[2016-08-10 08:13] kabads commented on #82
Thanks - I'll check this out. Unfortunately though, I'm not familiar enough with perl to write a plugin.

[2016-08-14 06:58] trs80 commented on #77
Also apparently .mp4 URLs are going away: https://twittercommunity.com/t/retiring-mp4-video-output-support-on-august-1st-2016/66045 but they're still available at the moment.

[2016-08-15 21:46] atomicules commented on #77
Thanks for the heads up.

[2016-08-25 13:22] atomicules commented on #77
Hmmm... I've just found a new tweet with an mp4 only (no m3u8).

Twitter!

[2016-09-02 08:20] atomicules commented on #70
Maybe related to versions of curl. Try `--compressed` on curl's flags.

[2016-09-13 17:45] leokhachatorians commented on #32
Well, from my knowledge of messing around twitters API, there really isn't anyway to prevent this. The spam filter is highly sensitive to any series of tweets with a mention, it isn't associated with a particular mention from what I've seen.

In my experience with my toy apps, having anywhere from 10 to 30 consecutive tweets with a mention included in the body is subject for the read/write access

[2016-09-20 12:03] Azenet opened #83 "Truncated tweets"
Since yesterday Twitter allows links and other fluff to not count towards the 140 character limit, however on oysttyer this seems to chop off some tweet ends. These tweets are displayed ending with the `…` character, and a link in the following pattern : `twitter.com/i/web/status/123456`. This seems to happen when there is an image/a quoted tweet/any link at the end of the tweet (which doesn't cou

[2016-09-20 17:43] funnelfiasco commented on #83
Thanks for the feedback! I noticed this yesterday, too, but hadn't gotten around to looking at it. It looks like the default is to use "compatibility mode" which does the truncating. I'm working on a change that would enable the new "extended" mode.

[2016-09-20 18:22] funnelfiasco commented on #83
Good news/bad news!

The good news is that I have a quick hack that addresses the issue.

The bad news is that somewhere along the way, it's causing a lot of error messages. It also broke the display of DMs.

So I think I'm on the right track, I just need to be a little more selective in my search and replace. Which I'll probably need to do in order to make the mode optional. I need to get back to

[2016-09-21 08:29] gustafe opened #84 "UTF characters are replaced with 2 character ascii combinations - may be Term::Readkey issue"
Issue: entering text with Swedish characters renders them in 2 char replacements.

Example: Räksmörgås becomes RC6ksmC6rgC%s

I believe this is an issue with Term::Readkey as this worked in Ttytter before. I installed Oysttyer and Term::readkey yesterday as part of my migration off TTytter but have encountered this today.

The same issue now appears in Ttytter.

As a workaround I can live with dis

[2016-09-21 13:43] funnelfiasco commented on #83
Okay, so this turned out to be way more frustrating than I expected. I've added a switch (`-extended`) to enable the fetching of extended tweets. The resulting JSON has the status in the `full_text` field instead of the `text` field.

I've added some logic to use `full_text` instead of `text` automatically. Both of these changes are in my WIP branch: https://github.com/oysttyer/oysttyer/tree/issue

[2016-09-21 15:10] Llammissar commented on #83
That seems kind of okay; I was already dealing with that because of a bug in (I think) Term::Readline::TTYtter where it's off by three characters for every link.

But if we do that, is it at least possible to tell the user how many characters the API thinks it is?  Not knowing how far to trim your text is a little vexing (exacerbated because /reply and /replyall don't get expanded until you hit en

[2016-09-21 15:16] atomicules commented on #83
thanks for looking into this.

I can take a look... but probably not until the weekend.

The code base is fun. Always takes a bit of warming up to follow it
around again.

[2016-10-02 02:36] funnelfiasco opened #86 "Not all videos are m3u8"
Twitter has apparently lied about dropping mp4 (see issue #77). I saw a tweet tonight that still uses mp4. We should probably support both for now since we can't trust them.

[2016-10-02 02:37] #86 closed, assigned to nobody

[2016-10-02 02:40] funnelfiasco commented on #30
We can use GitHub pages for the website (and in fact we do, though I still need to work on the docs) and there's nothing else outstanding, so I'm going to close this issue.

[2016-10-02 02:40] #30 closed, assigned to nobody

[2016-10-02 03:40] funnelfiasco commented on #83
With help from the awesome @myshkin, I was able to come up with a version that works (https://github.com/oysttyer/oysttyer/tree/issue83-truncated_tweets), with one annoying problem:

It seems this change breaks streaming. Although oysttyer _thinks_ it is using streaming mode, the behavior is like the REST API. If you run master and this branch side-by-side, it becomes pretty clear. Something about

[2016-10-02 03:40] funnelfiasco commented on #83
(Didn't mean to close this. Obviously I'm too tired to keep working on it tonight)

[2016-10-02 07:19] myshkin commented on #83
I think I have a fix, but it's ugly, and I haven't tested it much. Basically, we go back to the way we were before, except that when extended is on, normalizejson pushes any occurrence of full_text into text. See my latest pull request.

[2016-10-02 12:40] funnelfiasco commented on #83
I tested @myshkin's fix and it works, so it's merged into my branch, which I'm about to merge to master. I've reconsidered removing the limit calculation since it could still be useful in most cases. We could add the logic to count correctly, but that's....not pretty. Setting `linelength` to a large number is a suitable way to disable it for now.

[2016-10-02 13:06] funnelfiasco commented on #84
Sorry for the late response. Looks like the last Term::Readkey release was in June of 2015. You could try rolling back to an older version. It doesn't look like oysttyer directly calls Term::Readkey anywhere, so I don't know if there anything we can do to work around it.

[2016-10-02 13:06] #84 closed, assigned to nobody

[2016-10-02 13:11] funnelfiasco opened #88 "Hacktoberfest?"
People who want to [earn a t-shirt](https://hacktoberfest.digitalocean.com/) should do it by submitting PRs to oysttyer. One way to make it easier for them to find is to create a Hacktoberfest label and slap that on issues.

I was thinking it might be nice to create issues for a few things we want to add (e.g. image size as a single option instead of a bunch of booleans) and put the Hacktoberfest

[2016-10-02 13:57] atomicules commented on #88
I wouldn't really say I have a burning desire to refactor, it's just that if we want more people to help then it needs cleaning up. The code base is off-putting (it's also half the attraction for me, but I'm not normal).

[2016-10-02 13:58] atomicules commented on #88
But this is a good idea. I've been trying to label stuff easier/harder so newcomers could pick issues up.

[2016-10-02 19:59] myshkin commented on #83
Argh, we're not quite done. In streaming mode, but not via /th, (some?) quoted tweets are showing up as blank with HEAD of master. The original tweet looks fine, but the quoted tweet just has a key and handle, with no text displayed.

[2016-10-02 22:45] funnelfiasco commented on #83
@myshkin I haven't noticed it yet, but I've been AFK much of the weekend. Do you have any examples you can share? It sounds like it's not consistent, so we might have to comb through the JSON to find the common settings.

[2016-10-02 23:00] myshkin commented on #83
Unfortunately, no, and I've seen a number of fine quoted tweets in the interim. But just now, I got one that looked fine in streaming mode, but with "/a mikeduncan", the tweet with ID 782711946365722624 quotes @BBCBreaking, and the quoted tweet shows up as blank. A dump indicates that full_text has the proper value, but text is empty. I guess quote tweets need to get normalized as well.

I do also

[2016-10-03 14:17] funnelfiasco commented on #83
Hmm, yep. Looks like `/again`-ing doesn't get the tweet printed (though I see it in the stream). I'll take a look.

[2016-10-03 16:01] funnelfiasco commented on #83
I have a fix in place that I'm testing. It seems to work, but I'll hold off on pushing it for a little bit just to be sure. Spoiler alert: it will make you cry.

[2016-10-03 19:50] funnelfiasco commented on #83
Fixed the t.co issue, I think, in the commit I just pushed. As it turns out, we were only replacing t.co links in `text`, so I added replacements for `full_text`, too.

Discovered that my "fix" for getting statuses to render caused them to be truncated (which I suppose makes sense given what I did). Still working on it when I have spare moments.

[2016-10-03 19:56] myshkin commented on #83
It's not clear to me why `destroy_all_tco()` should need to modify `full_text`; the point of my last commit was that nearly all of the code should only have to deal with `text`. Maybe `destroy_all_tco()` is too early in the rendering process?

My tears are ready to go.

[2016-10-03 20:28] myshkin commented on #83
I got the same tweet (783035893766623232) twice, once from /a and once from streaming. Running /th on the different menu codes for each, the /a one appears fine, and the streaming one is blank. The retweeted tweet looks fine in both cases. There's something inconsistent about how `retweeted_status` gets populated.

[2016-10-03 20:28] funnelfiasco commented on #83
Yeah, I think `destroy_all_tco()` ends up upstream of most stuff, since it's also used in profiles, etc., etc.
I'm tempted to say "some cases will just stay truncated for now and we'll fix that later".

[2016-10-03 20:51] myshkin commented on #83
Throwing a bunch of `grabjson()` calls into `normalizejson()` seems to do the trick, as now the RT and QT structures are fully populated. Is there a more efficient way to do that?

[2016-10-03 21:00] funnelfiasco commented on #83
Oh hell, my change to destroy_all_tco seems to make life worse (RTs don't get rendered). Not sure how I missed that. I disappeared my changes from today because it turns out they're awful. Can you open a pull request against master as it currently stands?

[2016-10-03 21:13] myshkin commented on #83
Done. (Took me a while because I had already merged your changes into my local copy of master.)

[2016-10-04 21:59] Azenet opened #90 "Cannot redirect tweets"
Hi,

Please note that I searched for an argument that would allow this but I didn't find a compromise, I hope I haven't overlooked something.

I'd like to use oysttyer to redirect my timeline, however I didn't find any argument that would allow it. My attempt is to run `oysttyer | tee file` so I can both see what's happening and maybe tweet, and redirect the content. However, when in this mode, tw

[2016-10-06 17:42] funnelfiasco commented on #90
Yeah, I don't think there's a good way to redirect and have it still be usable interactively. If you want to tweet (not reply or RT), you can invoke it separately:

`oysttyer -status='Hey @mscman, remember to take the trash to the curb tonight'`

If you just want to preserve tweets for the record, you can use the pwntter extension: https://github.com/pr4wn/ttytter-exts/tree/master/pwntter

I haven

[2016-10-06 17:42] #82 closed, assigned to nobody

[2016-10-06 17:49] funnelfiasco commented on #1
This has been around for a year and a half (has it really been that long?) with no updates and it's not clear that it's still an issue, so I'm going to call this closed. If someone wants to take a look at it again later, feel free to reopen.

[2016-10-06 17:49] #1 closed, assigned to nobody

[2016-10-06 17:53] funnelfiasco commented on #83
Okay, it looks like we have a working solution thanks to @myshkin.

[2016-10-06 17:53] #83 closed, assigned to funnelfiasco

[2016-10-06 17:55] #88 closed, assigned to funnelfiasco

[2016-10-06 18:01] funnelfiasco opened #91 "Some events aren't handled properly"
Specifically retweets of a tweet you tweeted and likes of a tweet you retweeted don't get nice wording they just get `retweeted_retweeted` and `liked_retweeted`.

[2016-10-06 18:05] Azenet commented on #90
Unfortunately the extension is not cutting it for me, the reason I wanted to log the client output directly is because it fetches e.g. the quoted tweets, and other fluff.

I could do without the interactivity though, would there be any way to disable that ?

[2016-10-06 18:23] #91 closed, assigned to funnelfiasco

[2016-10-06 18:29] funnelfiasco commented on #90
The `-daemon` argument will disable it. It will say `Terminated` after you launch, but the background process will continue to display the timeline until you `kill` it. For example:

[code]

The output will include `*** detached daemon released. pid = 6369` so you can find the PID to kill when you're done.

[2016-10-06 18:38] Azenet commented on #90
Thank you! I didn't try it because I thought it would detach, but this is perfect.

[2016-10-06 18:38] #90 closed, assigned to nobody

[2016-10-06 19:54] vitusson commented on #90
I use the log extension to redirect my timeline to a logfile since ages, works with oysttyer same as it did with ttytter.
Cant find the source for it, once there was a link on the old ttytter

#$extension_mode = $EM_SCRIPT_OFF;

$handle = sub {
        my $ref = shift;
        my $logfile = "/$path_to/timeline.log";
        my $tweet2 = &descape($ref->{'text'});
        my $stweet2 = &standardtwee

[2016-10-07 02:54] funnelfiasco opened #92 "GIF URLs don't get replaced"
Oops. Not sure when we broke that, but we should fix it.

[2016-10-07 02:56] #92 closed, assigned to funnelfiasco

[2016-10-07 10:43] Azenet commented on #90
It seems like using `-daemon` disables streaming even though it says "Streaming API enabled" when starting up, is this expected? It's fetching regularly and I'm not getting usual favorites/retweets notifications. I'm using 0841d20

[2016-10-07 11:37] funnelfiasco commented on #90
Works for me

[code]

I'm one commit ahead of you (that I just pushed), but that change shouldn't affect anything. If you're still seeing this, can you open a new issue and share your settings?

[2016-10-09 14:10] atomicules commented on #29
Closing this out. If anyone wants to join in the future then you know who to ask.

[2016-10-09 14:10] #29 closed, assigned to nobody

[2016-10-09 14:12] atomicules commented on #32
Closing out. If we ever get blocked again the solution is to use your own keys.

[2016-10-09 14:12] #32 closed, assigned to nobody

[2016-10-10 12:28] Azenet opened #93 "Some videos display as m3u8 when in a quoted tweet"
As Twitter is making changes with the links, I guess this is related to #92 and #86.
When a tweet quoting [this tweet](https://twitter.com/BryFun1/status/785310574917804032) appeared in my timeline, the video link in the quoted tweet was m3u8 instead of mp4. When doing /th 785310574917804032 the link was correct, this seems to only happen when it is quoted naturally in your timeline and cannot be

[2016-10-10 12:35] Azenet opened #94 "Stream not working with daemon"
`daemon` seems to break streaming on my end. I am not sure if this is actually related to `daemon` though, as I am sometimes using 2 oysttyer instances on the same token, I guess rate limiting could be the cause, but I cannot see why it should stop streaming. I'm using 2a1600162285aaaf465f92ea1fe6533a86da0837, but this was happening before (also on 0841d207f97b5d93ee5367ae52186c8049f74d20).

`.oys

[2016-10-10 13:01] funnelfiasco commented on #93
Ah, I see what's going on here. It looks like the video includes several variants. I suspect it's one of two things:
1. we just go with the first or last match of `content_type` and the ordering in the JSON isn't always the same when we get it via the streaming API and when we get it via the REST API (which is what, e.g., the `/thread` command uses)
2. The way we handle quoted tweets doesn't inclu

[2016-10-10 13:11] funnelfiasco commented on #94
I just tested with your settings and I'm still getting streaming. I'll leave this issue open for a little bit in case someone else can reproduce the behavior. If you use the same setup but without daemon mode, do you get the expected behavior?

[2016-10-10 13:21] Azenet commented on #94
Yes, it works without daemon mode.

[2016-10-10 14:58] Azenet commented on #94
I was watching it run and I found something, I actually AM getting the streaming notifications like "someone liked your tweet" etc, it is just not displayed instantly. Everything seems to stay in a buffer and this buffer would be flushed every minute.

[2016-10-12 11:05] Azenet opened #95 "Only one picture is displayed where there should be several"
Hi,

There seems to be a regression from 2.7.2, /th 785576798235090944 should display 2 pictures instead of 1. I'm using 2a1600162285aaaf465f92ea1fe6533a86da0837. The regression seems to come from commit 0841d207f97b5d93ee5367ae52186c8049f74d20.

[2016-10-12 13:00] funnelfiasco commented on #95
So it does. I made that change to fix GIFs, but apparently it had some unexpected side effects. I'll see if I can find a better fix.

[2016-10-13 01:57] #95 closed, assigned to funnelfiasco

[2016-10-13 02:00] funnelfiasco commented on #93
I just pushed a commit that will take mp4 URLs first and use m3u8 if there's no mp4. If nothing else, it should be predictable now. I think preferring mp4 to m3u8 is the right decision because more clients seem to accept mp4. I'm leaving this issue open a bit to
1. Give @Azenet the opportunity to say "no, you completely missed my point"
2. Let someone else chime in to let me know why I made the wr

[2016-10-13 02:14] funnelfiasco opened #96 "Hide tweets from muted users"
Muted users still show up in the API feed. We could filter them client side by getting a list (see https://dev.twitter.com/rest/reference/get/mutes/users/list) and checking that before handling the tweet. This would be a nice feature to add.

[2016-10-13 07:46] atomicules commented on #93
You might as well just roll back this change: https://github.com/oysttyer/oysttyer/commit/ba40712f1deca14df7e6e2abcda7e6579e2d1b5c

[2016-10-13 21:13] funnelfiasco commented on #93
I don't want to roll back ba40712 because I expect Twitter will yank the rug out from us at some point, so it's good having m3u8 fallback.

[2016-10-15 15:19] trs80 opened #97 "2.8 only includes link for one image when tweet contains multiples"
eg https://twitter.com/angrygoat/statuses/787097853319577600 (it is a rewteet, not sure if that's relevant). They are in the entities:

[code]

It happens whether extended=0 or 1. Did the relevant code change between 1.7 and 1.8? I tried having a quick look at git blame but it killed my browser.

[2016-10-15 19:53] funnelfiasco commented on #97
Yeah, it was related to a change I made in 2.8. It was reported last week (issue #95). The fix is committed and I'll probably release 2.8.1 in the next few days.

[code]

[2016-10-15 19:53] #97 closed, assigned to nobody

[2016-10-17 02:40] funnelfiasco commented on #93
Okay, seems to be working, so I've pushed 2.8.1 and I'm closing this issue.

[2016-10-17 02:40] #93 closed, assigned to funnelfiasco

[2016-11-02 14:39] Azenet opened #98 "Wrong message when liking a retweeted status from another user"
Hi,

Apparently the message [here](https://github.com/oysttyer/oysttyer/blob/f870db90d005d8965220ca63c9e36f6336ab76a7/oysttyer.pl#L5804) is invalid if you like a tweet that was retweeted in your timeline, even though I think I never seen that happen before. Maybe the "favorited_retweet" event is dispatched in cases in which it wasn't before.

Example:
[code]

[2016-11-02 15:24] funnelfiasco commented on #98
I was thinking that it was probably me misunderstanding what that event is, but no, it gets send under at least two cases:
1. Someone likes a tweet you retweeted
2. You like a tweet retweeted into your timeline

Seems like those should be separate events, but I guess Twitter thinks otherwise. Anyway, it should be pretty trivial to suppress the message in the second case. I'll test it for a bit and

[2016-11-06 01:56] #98 closed, assigned to funnelfiasco

[2016-11-11 10:17] myshkin commented on #73
Polls are definitely using the Cards endpoint to get results (https://twitter.com/i/cards/api/v1.json), but I'm not sure if the poll choices are easily accessible anywhere. I saw a [random gist](https://gist.github.com/cucmberium/8ca7f4a5c5ea5a8b6590) that used `include_cards=1`, but that's not working for me.

[2016-11-22 12:15] makkanx commented on #96
filterusers="" or am I missing something?

[2016-11-22 12:18] makkanx opened #100 "untrack words or chars"
I track some words but I get a lot of tweets in Turkish which I'm completely uninterested in.
I would like to be able to untrack words or char.
Right now I'm using filterusers but the list is getting long.

[2016-11-22 14:21] funnelfiasco commented on #96
Right now using `filterusers` requires manual intervention. This issue is for automating it. I had actually forgotten about `filterusers`, so that handles the checking part for us, but we still need to add the "get a list of muted users" part.

[2016-11-22 14:30] funnelfiasco commented on #100
I think `-filter=[Perl expression]` will get what you want. If I understand, you want (as an example) to track the word "coffee" but not see "Turkish coffee" (perhaps you don't like the sludge at the bottom. That's your choice). You would use: `-filter="/turkish/i && /coffee/"`.

There's more description in the [TTYtter documentation](http://www.floodgap.com/software/ttytter/copts.html), which I r

[2016-11-23 07:46] makkanx commented on #100
How would I then add a second set?  "|" inbetween or?
-filter="/turkish/i && /coffee/ | /english/i && /coffee/"

[2016-11-23 14:24] classilla commented on #100
Try
-filter="(/turkish/i && /coffee/) || (/english/i && /coffee/)"

[2016-11-24 18:52] Azenet opened #101 "Allow /open to open tweets"
Hi,

Currently when trying to `/open` a tweet that contains no links will say that the tweet contains no links, which is good, however it would be nice to have a toggle so that `/open`-ing a tweet that has no links just opens the tweet itself. As a "workaround" I am using `/dump id` then `/open` at the moment.

[2016-11-24 21:05] tjharman opened #102 "/doesfollow not working for other users"
Maybe this is now a Twitter limitation?

I can check who I follow:
[code]
But I can't check who someone else follows anymore:

Does subway_nz follow wwwsubway?
[code]
Ok, does subway_nz follow me (tjh)?
[code]

[2016-11-24 21:09] tjharman commented on #68
I've always loved it a single file you download and run.... and it just works.
Few things are that nice and user friendly anymore.

Couldn't it be all split up, but a script ran to "merge" them all together as the final build, that users download?  Or is that more work again?

[2016-11-24 21:42] vitusson commented on #102
Nope, Works like it should for me
Maybe you should just check if usernames are right before reporting? ;-)
/whois subway_nz
Nothing happens. There is no such user....
/whois subwaynz
Subway New Zealand (subwaynz) (f:749/8726) (u:5193) (Verified)
URL:		http://t.co/ldECYaifEO
Location:	New Zealand
Picture:	http://pbs.twimg.com/profile_images/648256925646229505/HhVxmy4j_normal.jpg

/doesfollow wwesub

[2016-11-24 21:46] tjharman commented on #102
Ugh, I am SUCH an (embarrassed) idiot.

[2016-11-24 21:46] #102 closed, assigned to nobody

[2016-11-24 22:32] Llammissar commented on #68
@tjharman I'm pretty sure that was the plan.  Other projects do similar things and it works fairly well.  It'll just take effort.

[2016-11-28 19:09] funnelfiasco commented on #101
Great idea. I've done the same myself from time to time. I think we'll want it to be a separate command (open to bikeshedding on what we call it). This makes it explicitly clear what you want to do.

[2016-12-02 00:25] Jzarecta opened #103 "Favorite tweet command?"
I can't seem to find the favorite tweet command.

[2016-12-02 00:26] Jzarecta opened #104 "one-liner option"
is there a way to tweet without starting the session, only tweet one at a time as a one-liner option?

[2016-12-02 01:15] funnelfiasco commented on #103
Favorites are dead, long live likes! You can like a tweet with `/like <id>` or `/li <id>` if you want to save a few keystrokes.

[2016-12-02 01:15] #103 closed, assigned to nobody

[2016-12-02 01:17] funnelfiasco commented on #104
There is! `oysttyer.pl -status="Check out all of these thoughts I am leading."`

There are some partial docs at http://oysttyer.github.io/docs/userGuide.html and the TTYtter docs are still mostly applicable http://www.floodgap.com/software/ttytter/

[2016-12-02 01:17] #104 closed, assigned to nobody

[2016-12-14 13:48] makkanx opened #105 "Uparrow not working"
After reinstalling my machine oysttyer is not completely working. Uparrow is not working so I can't get the latest used command again. What am I missing?

[2016-12-14 14:37] funnelfiasco commented on #105
You'll need the `Term::ReadLine::TTYtter` CPAN package: http://search.cpan.org/~ckaiser/Term-ReadLine-TTYtter-1.4/ (and make sure you have `readline=1` in your .oysttyerrc)

[2017-01-24 16:48] Llammissar commented on #101
This is tough because /url is taken; that'd be the obvious one, IMO.  Maybe /id?  /info? m#^/t(weet)?i(nfo)?#...

Oh, /web!  Or I suppose /address works too, but that's long and it looks like we already have an /add command as a complete initial substring.

[2017-01-24 16:52] Llammissar opened #107 "Longer tweet codes"
Right now, we have [a-z][0-9].  This is, I sometimes find, not enough.  I'd like it if there was either another letter or another digit so I can reply/fav/rt further back in my history.

[2017-02-24 02:10] LwsBtlr opened #108 "Pipe text (or email) to oysttyer /dm"
I was hoping I wold be able to use oysttyer to pipe the output of alert emails from my server into it to have them delivered as DMs. If this is possible, I haven't figured it out. If not, it would be a great addition.

Edit: I just found some old documentation for TTYter and see that I can do this, and it still works in oysttyer. I didn't get a man page when I installed oysttyer from ports, so sor

[2017-02-24 03:33] funnelfiasco commented on #108
You should also be able to pipe. Both of the commands below worked for me:

[code]

One thing to be aware of is that if you have `verify` set, piping will honor that setting (thus not posting the tweet/DM).

I keep meaning to work on the documentation more, it just never happens. We don't have a man page, but once the online documentation is done, that's a possibility.

[2017-02-24 03:33] #105 closed, assigned to nobody

[2017-02-24 03:33] #100 closed, assigned to nobody

[2017-02-24 04:01] LwsBtlr commented on #108
Thanks, that's a much better syntax for what I want to do.

One thing I noticed and I don't want to open a new "issue" is that the dm is restricted to 140 characters, even though I can send much longer DMs via the web or a GUI client. (not sure how long, but over 1000 characters for sure).

[2017-02-24 04:08] funnelfiasco commented on #108
Is that only when piping or do you get that when using it interactively? We've supported longer DMs for a while. Can you check your version with `/vcheck`?

[2017-02-24 04:23] classilla commented on #108
`-runcommand` would probably be a little more helpful here since it wouldn't
clash with settings like `verify` (e.g.,

[code]

[2017-02-24 04:45] funnelfiasco commented on #101
I have a branch ([feature/issue101](https://github.com/oysttyer/oysttyer/tree/feature/issue101)) that adds this functionality with the `/web` command if anyone wants to try it out. I'll merge it in if it doesn't blow up horribly.

[2017-02-24 04:53] funnelfiasco commented on #107
640 KB ought to be enough for anybody. I'm definitely open to the idea, but there are a lot of regular expressions that would have to be touched, and there are probably extensions that would break. I'd like to kick this can down the road for a while, but I'm open to someone else jumping in and giving it a go. Before anything gets released, we'd have to shout from the rooftops that we're introducin

[2017-02-24 06:15] LwsBtlr commented on #108
I installed the script today. ` -- your version of oysttyer is up to date (2.8.1).`

I tried to pipe in a string of 230 characters and it failed.

[code]

EDIT: It works with -runcommand.

[2017-02-24 14:55] funnelfiasco opened #109 "Long DMs not supported in `-status` argument"
Long DMs work interactively, via stdin, and via `-runcommand`, but DMs longer than 140 characters will fail to post if using `-status`. (See #108)

[2017-02-24 14:55] funnelfiasco commented on #108
It also works with stdin. I spun off a new issue (109) for it not working with `-status`, but as classzilla noted that's probably not the best way to do this anyway.

[2017-02-24 18:16] Llammissar commented on #107
Wait, really?

*Wyatt looks at the code...*

O-okay, yeah.  This kind of makes me feel like the parsing needs reworked entirely to separate command and target from the arguments, because stuff like `if (m#^/th(read)?\s+(\+\d+\s+)?([zZ]?[a-zA-Z]?[0-9]+)$#)`  is pretty ugly.

One thing that does come to mind to make this easily configurable is to use qr// operators for the various common chunks and

[2017-02-24 23:28] classilla commented on #108
That will post a message "/dm @me ..." which I don't think you want to do.
You mean -runcommand here.

[2017-03-05 21:45] funnelfiasco commented on #101
Okay, I merge my branch and pushed it to master.

[2017-03-05 21:45] #101 closed, assigned to nobody

[2017-03-13 17:36] funnelfiasco opened #111 "Add support for re-retrieving notifications"
Suggested by [l_m_standing](https://twitter.com/l_m_standing/statuses/840428536556994560), it would be nice to have `/notifications` that did the same as `/replies` except for...you know... notifications. Not sure if the API supports this, will need to check.

[2017-04-15 08:48] ghost opened #112 "Shortened URL is not stored in %URL%"
Don't remember if the behaviour has changed, but in my opinion, the output of the shortener should be saved in %URL% for reuse. Now the variable is empty.

[code]

[2017-04-26 11:07] hak4fun opened #113 "Upload local images/media"
Is there any intention to build a functionality to upload local images/media in tweets?
Or did I miss something in the the releases?

[2017-05-01 21:50] funnelfiasco commented on #113
There's no lack of intention, let's say that. It'd be nice to do at some point.

[2017-05-12 20:43] funnelfiasco opened #114 "`/lists +<integer>` causes crash"
As reported by jrredho on Twitter:

[code]

[2017-05-12 21:18] funnelfiasco commented on #114
It works fine if you specify a name, but it would be nice if we assumed you meant yourself with no arguments. (That's already the case if you don't specify `+N`)

[2017-06-03 21:03] jasonwryan opened #115 "sysread() is deprecated on :utf8 handles"
With the upgrade to Perl 5.26, oysttyer now throws a warning while tweeting:

[code]

[2017-06-04 02:39] funnelfiasco commented on #115
Thanks for the report. Some quick testing suggests replacing `sysread` with `read` fixes it. I'll test on it a little further and if everything still seems to work, I'll push a branch for others to test again.

[2017-06-04 02:41] funnelfiasco commented on #115
Okay, I lied. It's functional, but seems to break the prompt. I'll have to look into it more.

[2017-06-04 05:11] classilla commented on #115
Spitballing here, you could probably do a mass change from `sysread()` to
`read()` and I don't think much would break at this point since all that
the IPC communication sends back and forth is 7-bit bytes (anything that
could be Unicode or UTF-8 is separately encoded). I haven't tried this,
though.

For the record I think the change is stupid since sysread() and syswrite()
were never intended to b

[2017-06-04 05:13] classilla commented on #115
Derp derp, I see that's exactly what you were talking about. How does it break the prompt, exactly?

[2017-06-04 15:57] funnelfiasco commented on #115
In the way that if I had installed `Term::ReadLine::TTYtter` in my perlbrew environment, it would be working just fine TYVM. :-/

(which is to say: it's user error)

[2017-06-04 17:48] funnelfiasco commented on #115
Okay, new branch if anyone wants to do some additional verification: https://github.com/oysttyer/oysttyer/tree/bugfix/sysread-issue115

Works for me on Perl 5.26 and Perl 5.24.

[2017-06-04 17:49] #108 closed, assigned to nobody

[2017-06-04 18:52] funnelfiasco opened #116 "t.co links are now 23 characters"
Looks like we're still counting them as 19. That's annoying.

[2017-06-04 19:51] funnelfiasco commented on #116
Fixed for 2.8.2

[2017-06-04 19:51] #116 closed, assigned to funnelfiasco

[2017-06-04 20:03] #112 closed, assigned to funnelfiasco

[2017-06-04 20:03] funnelfiasco commented on #112
Added a fix for this into the forthcoming 2.8.2.

[2017-06-06 00:43] #114 closed, assigned to funnelfiasco

[2017-06-06 00:44] #115 closed, assigned to funnelfiasco

[2017-06-06 00:57] funnelfiasco commented on #2
This is pretty old. Since it's unconfirmed, I'm going to close it.

[2017-06-06 00:57] #2 closed, assigned to nobody

[2017-06-06 13:55] mackenzie-remote commented on #77
OP here! Now Twitter seemed to have abandoned their M3U8 experiment and reverted to MP4 would it be possible to reopen this issue?

[2017-06-06 14:10] funnelfiasco commented on #77
Consider it reopened!

The difficulty here is that the bitrate isn't a label, but a number (which makes sense but is inconvenient for our purposes). I think what we'd do for now is allow the user to specify "lowest" or "highest" and then sort the variants based on that. If there are more than two variants, (which it looks like there can be), then you'll have to live with the two options.

It's wor

[2017-06-12 15:08] atomicules commented on #29
Should somewhat officially mention it somewhere (although it's been obvious from lack of activity here), but for whatever reason I've just found myself using Twitter less and less over the past year and coupled with other things I've just kind of drifted away from this project; I've always been better at working on projects I actively use and since I'm not even using Twitter... well.

Probably not

[2017-06-12 15:35] stormdragon2976 commented on #29
Interestingly, Oysttyer works pretty well with GNU Social. I no longer use Twitter at all. I haven't in well over a year. However, I do use Oysttyer all the time. It gives sound notifications for new events for me, using my soundpack extension. What I would really love, is for Oysttyer to be shifted to support open projects like GNU Social and Mastodon with Twitter support as an after thought. It'

[2017-06-12 21:56] funnelfiasco opened #120 "Mastodon support"
(Continuing this from @stormdragon2976's [comment](https://github.com/oysttyer/oysttyer/issues/29#issuecomment-307826965) in #29):

I'm totally open to working on improving our support for GNU Social and Mastodon. I don't agree with making Twitter an afterthought (in part because I'm skeptical of new social media platforms).

What might be the best approach is to give up on the idea of doing a maj

[2017-06-12 21:57] funnelfiasco commented on #29
Thanks for all your hard work, @atomicules, looking forward to having you back at some point.

[2017-06-13 08:00] IvanSanchez commented on #29
@atomicules I know the feeling of not having time for all the projects.

@stormdragon2976 This should be a good moment to point out that, albeit I've been away from Oysttyer for a time myself, I have done some work on a multi-platform multi-account twitter+mastodon client: https://gitlab.com/IvanSanchez/soclial . It's quite buggy, but the code is not a spaghetti mess, plus using a priority queue a

[2017-06-13 08:00] IvanSanchez commented on #120
*cough* https://gitlab.com/IvanSanchez/soclial *cough*

[2017-06-13 16:07] stormdragon2976 commented on #29
Nice client. I also have one called gasher, written completely in bash. it isn't like Oysttyer, but it does have quite a bit of functionality. I use GNU Social mostly, so it does not yet have mastodon support, but I may try to add it some day, unless someone else beats me to it.

[2017-06-28 05:01] Suleman-Elahi opened #121 "Problem Running on Windows"
When I run the specified command on Windows 10, following error is raised;

+=======================================================+
-- using SSL for default URLs.
trying to find cURL ... not found.
failed. trying to find Lynx ... not found.
you must have either Lynx or cURL installed to use oysttyer.
+========================================================+

[2017-06-28 20:56] funnelfiasco commented on #121
Do you have cURL installed? If not, you'll need to install it first. You can download cURL for Windows at https://curl.haxx.se/download.html

[2017-07-06 22:41] funnelfiasco commented on #77
@mackenzie-remote I bet you thought I forgot about you! Here's a branch that implements this feature. The default is to set `video_bitrate=largest` and if `video_bitrate` is anything but `largest` it will give you the smallest. We may be able to improve on this later, but for now I figure most people will want one or the other.

https://github.com/oysttyer/oysttyer/blob/feature/i77-configurable_vi

[2017-07-06 22:46] funnelfiasco commented on #109
This is the wrong way to do it (as noted in 108) and I'm not sure it's worth putting effort into making it work. RIP this issue.

[2017-07-06 22:46] #109 closed, assigned to nobody

[2017-07-07 10:21] mackenzie-remote commented on #77
Excellent, thanks @funnelfiasco !

[2017-07-07 17:08] funnelfiasco commented on #77
Gah! There's a definite bug here. Looks like GIFs are being replaced with the last-seen video? Not entirely sure yet, but it's definitely in need of more work.

[2017-07-07 21:42] funnelfiasco commented on #77
Okay, the branch is updated with a fix. Always initialize your arrays, kids.

[2017-07-10 08:56] mackenzie-remote commented on #77
@funnelfiasco I've updated to the array fix - unfortunately I'm seeing issues where the video/gif link is from the wrong tweet.

EDIT: If I grep my log I can see the same mp4 URL is attached to multiple tweets.

[2017-07-10 12:47] funnelfiasco commented on #77
Hm, I thought my fix...fixed that. Can you give me any more information?
For example do you get a tweet from one that appeared fairly recently? A
couple of status IDs might help.

On Jul 10, 2017 04:57, "mackenzie-remote" <notifications@github.com> wrote:

[2017-07-10 13:21] mackenzie-remote commented on #77
This is one tweet I've been testing - https://twitter.com/MalwareJake/status/876140051880701952 - each time I fire up oysttyer on this branch it comes up with a different mp4 (from other tweets in my timeline).

[2017-07-12 16:34] funnelfiasco commented on #77
Thanks! I believe what was happening here is that my array initialization fixed part of the issue, but not all of it. I had also thought to initialize the hashes used to find the right bitrate, but I implemented that incorrectly.

The first fix made everything except GIFs work (or at least mostly work), but GIFs have a `bitrate` of 0. I've pushed a fixed fix which seems to actually work. At least,

[2017-07-13 08:38] mackenzie-remote commented on #77
I've run it since yesterday evening and all looks good  👍
@funnelfiasco - thank you again for looking at this enhancement!

[2017-07-13 21:47] #121 closed, assigned to nobody

[2017-07-13 21:51] funnelfiasco commented on #77
Awesome, I just merged my feature branch and I think this is ready for a release. I'll kick it out the door tonight or tomorrow.

[2017-07-13 21:51] #77 closed, assigned to funnelfiasco

[2017-07-17 14:12] funnelfiasco opened #122 "Can't `/web` tweets with a code beginning with `d`"
[code]

[2017-07-17 15:54] funnelfiasco opened #123 "Using `synch` hangs 2.9.0"
This is a regression from 2.8.0. If using `synch`, you'll never get beyond the loading screen.

Reported by [JudeDaShiell](https://twitter.com/JudeDaShiell)

[2017-07-17 16:22] funnelfiasco commented on #123
Well it looks like the offending change was replacing `sysread()` with `read()` to address #115. I'm going to have to dig into the differences more and see what I can do about it.

[2017-07-17 22:23] funnelfiasco commented on #123
Here's what I've been able to figure out so far:

When using `-synch`, it hangs at the second time through [line 4217](https://github.com/oysttyer/oysttyer/blob/2.9.0/oysttyer.pl#L4217). Throwing some debug prints in there, I get:

[code]

From what I can tell (and this is admittedly beyond my depth), the issue is that `sysread()` is non-buffering and `read()` is buffering and that `select()` work

[2017-07-18 13:36] classilla commented on #123
That is indeed essentially the problem. There is another solution, which should mostly just work: take :utf8 off the IPC filehandles P and W (under `initialize our route back out`) and make sure all transmissions over them are hex-coded. This is already the case for tweet text, and the screen names should be 7-bit, so they don't need to be encoded. Then you can just keep using sysread(). I haven't

[2017-07-18 13:39] classilla commented on #123
(er, you can keep using `sysread()` for `P` and `W`; the rest should stay `read()` if `:utf8` was set on those handles.)

[2017-07-18 13:41] classilla commented on #123
Oh, and do the same for filehandle `C`, which is actually where the synch opcode is being sent.

[2017-07-18 13:46] funnelfiasco commented on #123
Great, thanks for the suggestion. I'll give it a try and we'll see how that goes.

[2017-07-18 18:20] funnelfiasco commented on #123
@classilla I think I did as you suggested in [this branch](https://github.com/oysttyer/oysttyer/blob/bugfix/issue123-synch/oysttyer.pl) but the synch behavior persists. It looks like I've removed the `:utf8` from `C`, `P`, and `W` and changed them all back to `sysread()`.

[2017-07-18 19:43] classilla commented on #123
`if(read(STDIN, $rout, 20) != 20) {` at line 4328 should also be `sysread()`

[2017-07-18 20:02] funnelfiasco commented on #123
@classilla changing that line fixes the `synch` behavior, but it re-introduces the deprecation warnings.

I thought that if we don't set `:utf8` on `STDIN` on line 4111, that would fix the errors, but that does not seem to be the case. I also expected that it would mean users will not be able to use unicode characters in tweets, but that's also wrong. So perhaps 4111 is not where line 4328's `STDI

[2017-07-19 03:41] classilla commented on #123
4111 should be removed too, but I suspect that the binmode is being set for us by the locale. Maybe pull that line and throw a `binmode(C)` (yes, specifying no layer) after the `C` filehandle is opened (i.e., after the `close(P)`)?

[2017-07-19 16:00] funnelfiasco commented on #123
Close, but not quite. Putting a bare `binmode` on `STDIN` on line 4111 seems to fix it so that utf8 errors go away but synch still works. I'm going to send it to the initial reporter and put it out on Twitter to get some testing. If nobody else finds regressions, I'll clean up the commits and merge it.

[2017-07-21 14:18] #123 closed, assigned to funnelfiasco

[2017-07-21 18:31] #122 closed, assigned to funnelfiasco

[2017-07-24 17:07] kamiljk87 opened #124 "Issue with 'non default' list names using listson command..."
Looks like there is a problem proceeding private lists with non common schema like:
/liston $user/its_some_name which causing that error reply:
 *** list $user/its_some_name seems bogus; not added
the problem not occur when schema in use is:
/liston $user/listname
configuration:
oysttyer -dostream -ssl -vcheck -readline -verify -slowpost -notifytype=libnotify -notifies=dm,reply -notimeline
-- your

[2017-07-24 17:18] funnelfiasco commented on #124
I don't quite understand. What is the difference is between `$user/its_some_name` and `$user/listname`? Can you provide real example lists that trigger this behavior?

[2017-07-24 17:25] kamiljk87 commented on #124
i suppose, but that only mine guess it cant handling words separated with "_" between them in list name, bc not sure its name length issue. bc name exist already...

[2017-07-24 17:27] kamiljk87 commented on #124
aka itssomename vs its_some_name the seccond one schema causing issue and spawning error...

[2017-07-24 17:44] funnelfiasco commented on #124
Ah okay, I understand now. I don't believe underscores are valid characters in list names. If you create a list with underscores in the name, they get converted to dashes for the purposes of API calls.

For example, I just created a list named "this_is_a_list", which Twitter converted to https://twitter.com/FunnelFiasco/lists/this-is-a-list

If you replace your `_` with `-`, that should work. You

[2017-07-24 18:01] kamiljk87 commented on #124
Ha indeed thats interesting in web browser in past when was created its accepted that name with underscores w/o converting still appears, and can confirm its not throw error in schema $user/its-some-name and even looks like working, even with difference when web browser have "_" and console client show "-" in use... That mean kind of partially SOLVED with pointing at good idea in my opinion place

[2017-07-24 18:05] kamiljk87 commented on #124
And funny thing is that /lists not show mine created list, but it show lists to which one im subscribed to (guess on fast look at them)... --edited-- or there is a limit showing items in that case would be nice also form ideas at end place info the list was stripped to eg. first xx positions....

[2017-07-26 14:45] #124 closed, assigned to funnelfiasco

[2017-07-31 18:23] isomorphisms opened #125 "credential check failed"
I just `git pull`ed the latest version, but I keep getting

[code]

across many days. The password used to work so I don’t think that’s it.

[2017-07-31 18:52] funnelfiasco commented on #125
There are two issues in your output:

1. Version check failure. GitHub had a [brief outage](https://twitter.com/githubstatus/status/892060343920414720) earlier this morning, which means oysttyer was not able to grab the version_check.txt file.

2. Credential failure. As for your credentials, top-of-tree is working for me. You may want to verify that you haven't de-authorized Oysttyer from your acc

[2017-08-08 09:43] makkanx opened #126 "Filter is not working"
After updating to latest version 2.9.1 filter doesn't seem to work. I track some words but to avoid for example Turkish tweets I filter some Turkish chars but now I see these tweets again.

[2017-08-08 12:48] funnelfiasco commented on #126
This is probably related to the deprecation of UTF-8 across filehandles. I'll see if I can dig into it a little more. Does it seem to work for ASCII filter words?

[2017-08-08 12:52] makkanx commented on #126
Yes, ASCII is working.

[2017-08-08 14:48] funnelfiasco commented on #126
It looks like setting _any_ filter is keeping me from seeing any tweets. Can you share your configuration settings so I can try to reproduce it?

[2017-08-08 14:52] classilla commented on #126
Drive-by: I think a complete fix is going to require encoding the command to the background process for querying and setting synced options. The pack_magic incantation should be sufficient like is done in other places, but since it will hex-encode everything, the packet size will need to be doubled at the same time.

[2017-08-09 05:29] makkanx commented on #126
I have attached my config file.
[oysttyerrc.txt](https://github.com/oysttyer/oysttyer/files/1210412/oysttyerrc.txt)

[2017-08-13 12:52] 1helices opened #127 "Oystter on Windows 10 will not work?"
I want to automate posting to several Twitter accounts.

I have the following for one account:
Consumer Key (API Key)
Consumer Secret (API Secret)
Access Token
Access Token Secret

I have tried Oystter according to the manual, and it doesn't work. I have received many errors, including:

Request from https://api.twitter.com/oauth/request_token ...'-' is not recognized as an internal or external co

[2017-08-14 12:42] funnelfiasco commented on #127
I don't have a Windows machine that I can use for testing, so I'm afraid I can't tell you much. As far as I know, Windows has never been an explicit consideration one way or another. You might try running it in Cygwin or something like that to see if that helps.

As best I can tell, the URL is malformed. (Hence the `'-' is not recognized as an internal or external command`)

[2017-08-14 12:43] #125 closed, assigned to funnelfiasco

[2017-08-14 13:02] funnelfiasco commented on #126
Thanks for the config. I can definitely reproduce it. I'll try to work on a fix later this week.

[2017-11-07 18:58] gustafe opened #128 "Documentation of favourites/likes is outdated"
The page at

https://github.com/oysttyer/oysttyer/wiki/Built-in-commands

lists `/f{ave|ourite}` etc as the command for faving/likeing a tweet.

The correct command is `/like` and variants.

I tried cloning the wiki to change directly but ran into an error.

Extract:

[2017-11-07 19:03] funnelfiasco commented on #128
Fixed in the wiki (I forgot atomicules even created that). Thanks for the reminder that I need to set aside a day or two and just write the dang documentation already. After the new year, I expect to have some time to actually put effort into this again.

[2017-11-07 19:03] #128 closed, assigned to nobody

[2017-11-08 00:19] tjharman opened #129 "."

[2017-11-08 00:20] tjharman commented on #129
I didn't actually mean to click submit on this, I was making a joke with a workmate.
Huge apologies.

[2017-11-08 00:53] funnelfiasco commented on #129
Ha! This is hardly the worst issue ever opened on GitHub.

I was wondering how quickly it would take someone to open an issue. We'll definitely bump the limit in the next release (I've given up on trying to guess when I'll get to it, so I'll just say it'll be out before the heat death of the universe) but in the meantime, you can adjust it yourself

[2017-11-08 00:54] funnelfiasco commented on #129
...by setting the "linelength" setting.

[2017-11-08 00:54] #129 closed, assigned to nobody

[2017-11-08 00:54] tjharman commented on #129
Oh gosh I'm sorry, I really didn't mean to be that guy.
Please just delete it fully!!!

[2017-11-08 01:59] funnelfiasco commented on #129
GitHub doesn't support deleting issues, but I'm willing to pretend this doesn't exist. Sorry for reopening it earlier, I misclicked on my phone.

[2017-11-08 10:09] gustafe opened #130 "Enhancement: officially support 280 characters"
Now it seems we can all tweet twice as much -https://blog.twitter.com/official/en_us/topics/product/2017/tweetingmadeeasier.html

If possible, can tweets longer than 140 now be shown without the "... https://twitter.com/...." continuation?

If this is a limitation of the Twitter API I guess nothing can be done.

[2017-11-08 14:26] vitusson commented on #130
I have absolutely no problem that tweets by others longer than 140 wont be shown. What are you talking about?
The only thing is oysttyer wont let me send longer tweets. Which can be fixed by setting the 'lineleght' setting
https://github.com/oysttyer/oysttyer/issues/129

[2017-11-08 15:01] gustafe commented on #130
Here's how a tweet is presented in Oysttyer now

![image](https://user-images.githubusercontent.com/8576740/32555758-eaee1d36-c49d-11e7-8623-1587719f27f6.png)

Here's the full text on Twitter's website

![image](https://user-images.githubusercontent.com/8576740/32555778-f5fc7a2e-c49d-11e7-9828-ec271753940b.png)

I wonder if the content after "Down for..." can be shown. If desired this can be confi

[2017-11-08 15:15] funnelfiasco commented on #130
Good news! There's already a setting for it:
`extended=1`

This came about after Twitter made an API change a while ago. We left the shortened version as the default in case someone has an extension that can't handle > 140 characters. Now that the tweet length is increased across the board, it probably makes sense to update this default in the next release.

(Note that this is for display only. To

[2017-11-08 15:15] #130 closed, assigned to nobody

[2017-11-08 16:24] vitusson commented on #130
Well, I can see the whole tweet. Had this extended=1 set. That's why I asked what he meant.

[2017-11-08 16:31] vitusson commented on #130
@funnelfiasco
I set the linelength to 280 and can send long tweets now. I wondered if the $quotelinelength,  which is yet at 116, also need to be changed now?

[2017-11-08 16:36] funnelfiasco commented on #130
@vitusson it doesn't look like the original reporter had this set, which is why I mentioned it. Yes, looks like `quotelinelength` will also need to be changed. I'll change it so that by default it's `linelength` minus `tco_length + 1` so that we're not making two changes the next time Twitter decides to change something.

[2017-11-08 16:45] gustafe commented on #130
I’m moving over from `ttytter` and I’ve been trying to find differences in the docs, but unfortunately the documentation isn’t up to the previous standards...

[2017-11-08 17:15] funnelfiasco commented on #130
That's a very polite way to say "the documentation is garbage". I've been meaning to take a day and fix that, but time has been very hard to come by lately. I really appreciate the community's patience.

[2017-11-08 18:03] gustafe commented on #130
@funnelfiasco I'm fully aware from day job how hard it can be to keep docs up to date... if help is needed and I can provide I would like to.

[2017-11-08 19:37] vitusson commented on #130
Updated docs would be great, especially the command-line option part, every time I want to look up something, like for linelength and extended today, I have to use the old http://www.floodgap.com/software/ttytter/copts.html and hope it's there.
Now I'd really like to offer a helping hand there, but since I don't know what some options do, I can't see how I could be helpful with that. Let us know i

[2017-11-08 19:50] funnelfiasco commented on #130
@gustafe @vitusson I started a User Guide a while back, so filling that in would be a good starting point. I'd be happy to accept pull requests to update the markdown source for it (https://github.com/oysttyer/oysttyer.github.io/blob/master/docs/userGuide.md) or even just opening issues against that repo for things that are missing. It's a little bit of a "there's too much to do so it's overwhelmi

[2017-11-08 20:44] vitusson commented on #130
@funnelfiasco Yep, discovered that one in the meantime, seems like a good place to start.
And maybe at last a good opportunity for me to learn how to work more with git, like what are "pull requests" and how do I make them . ;-)
All I ever did so so far was 'git clone' and 'git pull'... it's a shame

[2017-11-08 20:51] funnelfiasco commented on #130
@vitusson Here's the GitHub docs for submitting pull requests: https://help.github.com/articles/creating-a-pull-request/
I'd also accept patches produced by `diff` or even just text dropped into an issue that I can copy/paste.

[2017-11-08 21:15] vitusson commented on #130
Will read that.
Now I see there is already a pull request by @slyall , who began adding a command-line section, that seems a good place to build on to and just add more things.  Is there a way I can get other peoples pull requests to my clone here on my pc and work on them?

[2017-11-08 21:56] NoiseEee opened #131 "Support 280 Characters ;)"
I figured I'd just be able to change a few numbers in the .pl script, but that's not the way this seems to work?

[2017-11-08 22:21] NoiseEee commented on #131
Hi @funnelfiasco I actually just did a pull request... see the comments. Might be too 'heavy handed' but I'm using it at least :)

[2017-11-20 06:40] kamiljk87 opened #133 "[feature_idea] Add send replies continious refference xy numbers or id-s.."
If possible give additions for reply status with possibility to fast reply for just send own reply to someone in case: /re a0 reply to tweet [enter] and at status send with eg. message id to get possibility fast /re id/number of just send <reply to tweet>...

Also looks like replies not appear with enabled -notimeline command line option only DM are shown...

[2017-11-20 11:43] gustafe commented on #133
I'm not sure I follow the process here... can you expand on how this feature should work compared to the current situation?

[2017-11-20 13:05] kamiljk87 commented on #133
Now after reply to some tweet is only show content of tweet there isnt any localize method other than /again own_username which list that reply with number to reply again to it...

[2017-11-20 15:26] gustafe commented on #133
Ah, so you mean you have to wait for it to appear in your timeline as a "published" tweet before getting the reference to it, to continue to conversation?

For what it's worth, I use dostream=1 in my .rc file and the replies show up *much* faster, with references and everything.

[2017-11-20 15:38] kamiljk87 commented on #133
some kind of when sending a reply response looks like:
 -- status retweeted + id (present: -- status retweeted )
 eg. would be nice to have in case of longer than one tweet message sending to person in reply to keep conversation continuous and easy to read always best is using assign /re command to Your every last reply which made it in twitter linked with lines....

[2017-11-20 15:41] kamiljk87 commented on #133
also i will check that option so far using -dostream -ssl -vcheck -ansi -readline -verify -slowpost -notifytype=libnotify -notifies=dm,reply -notimeline

[2017-11-23 15:31] gustafe opened #134 "Question: can you "alias" commands?"
I keep typing `/fav` instead of `/like`. Can I add a new command via an extension?

[2017-11-23 17:53] classilla commented on #134
Either $addaction or $precommand would handle that. Since you're trying to alias an existing command, something like this (untested) should work: $precommand = sub { my $k = shift; $k =~ s#^/fav\s+#/like#; return $k; };

Adjust to taste.

[2017-11-23 18:32] gustafe commented on #134
Nope, that just transforms the command

    oysttyer>/fav a1

into

    oysttyer> <gerikson> /like a1

and tweets that...

I'll keep digging, thanks for the pointers!

[2017-11-23 21:21] classilla commented on #134
That's a bug. It should be subject to further interpretation.

Anyway, $addaction would still work.

[2017-11-24 09:38] gustafe commented on #134
OK, I'll try to repro the `$precommand` issue using a "clean" setup (I have a bunch of stuff migrated from ttytter in my config file) and file a bug.

[2017-11-24 10:53] gustafe opened #135 "extensions using $precommand do not work as expected"
Based on a question in issue #134, I'm not seeing the behavior that according to https://github.com/classilla should be there. I'm filing a bug in the hope of either a fix or a clarification...

### Issue

Attempting to "alias" an existing command using the $precommand scalar in an extension does not work as documented (http://www.floodgap.com/software/ttytter/adv.html)

### Repro

Create an exten

[2018-01-14 21:13] vlbrown commented on #131
If there's something we can change locally, a patch we can apply between now and whenever the update is pushed, that would be swell.

[2018-01-14 21:24] funnelfiasco commented on #131
You can set the `linelength` and `quotelinelength` settings to 280 and 256 respectively.

[2018-03-13 23:38] tjharman opened #137 "Using control-c to cancel a post with slowpost=5 quits client"
This is my .oysttyerrc

[code]

Using:
[code]

Other details:
[code]

Happens using tmux or not using tmux.

Basically if I type something, see within my 5 seconds that I made a mistake and hit ctrl-c, I expect oysttyer to cancel the posting of the tweet.  But the client actually just quits.

[code]

I can't recall when this last worked properly, but I know it worked OK in ttytter.

[2018-03-14 08:12] woffs commented on #137
Same here.

[2018-03-14 13:25] classilla commented on #137
The way I suspect that's happening is that the signal handler is not getting set anymore for some reason.

[2018-04-04 18:47] iraklis10 opened #138 "Set user lists en masse"
I am aware of /autolist with which one can set their lists en masse but one has to type them one by one. At the same time, there is /unset lists.

Could it be easy to implement a /set lists to get all lists in the timeline?

Thanks

[2018-04-28 06:36] tcikoritys commented on #120
At the moment, can Oysttyer be used with Mastodon at all?

[2018-04-28 11:08] funnelfiasco commented on #120
I haven't looked at the Mastodon API, but as far as I know, it's not compatible with Oysttyer.

[2018-04-28 11:42] stormdragon2976 commented on #120
Howdy,

Mastodon has a few CLI options. You may want to look at, in no particular order, tootstream, bitlbee-mastodon, and/or madonctl.

[2018-05-07 20:33] knghtbrd commented on #115
This issue ought to be reopened since, as of 2.9.1, the deprecation warnings are there once again.

[2018-05-07 20:47] funnelfiasco commented on #115
I can't reproduce this on my Fedora 28 box with Perl 5.26. There are still a few sysreads in the code, but I haven't seen deprecation warnings since 2.9.0. Can you provide more context? Do you see it at launch or during use?

[2018-05-08 01:36] knghtbrd commented on #115
No, strangely one showed up at startup before, but it doesn't show at
startup now.  Weird.  Ignore me for now.  I'll keep this around and if I
see it again I'll see if I can figure out which sysread is doing it.

Joseph

On Mon, May 7, 2018 at 1:47 PM, Ben Cotton <notifications@github.com> wrote:

[2018-05-23 19:19] mackenzie-remote opened #139 "User Streams API Deprecation August 2018"
Twitter [announced](https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/api-reference/user-stream.html) that they are retiring the user streams API

They sent me an email telling me that my account was using the deprecated API. It looks to me like the `user.json` endpoint [is in the code as well](https://github.com/oysttyer/oysttyer/blob/master/oysttyer.pl#L732)

It

[2018-06-04 17:56] Tapudp commented on #32
I'm facing the same, is it because they might have banned my bot or something?

[2018-06-04 17:59] funnelfiasco commented on #32
@Tapudp it could be. If you're using the built-in key, don't. If you're using a key you generated, you'll have to contact Twitter support for more information.

[2018-06-04 18:21] Tapudp commented on #32
Yeah I'm using my own generated key, and it is simply a twitter App that I have created with all those consumer key, tokens and all, my exact error is following does that mean I have some mistakes on my side

[code]

[2018-07-02 16:39] funnelfiasco commented on #139
It looks like Oysttyer will continue to work without the stream. It will basically be the behavior TTYtter had before the streaming API was introduced. I'd welcome work to incorporate the new API, but I don't have the bandwidth to do it myself.

[2018-07-02 18:18] mackenzie-remote commented on #139
Thanks Ben, I was hoping that'd be the case.

[2018-07-08 22:20] knightjoe2222 commented on #32
@Tapudp did you ever get this sorted?

[2018-08-24 08:26] werid opened #141 "Adding a seperator in between bursts of updates?"
So, the past week or so, the user-streams have been on and off during the day, and I noticed, when following a lot of people, that the bursts of updates makes it hard to find my place again.

Would it be possible to add a seperator inbetween these bursts of updates so i can easily find where the new tweets begin?

If not in main code, maybe a plugin?

[2018-08-24 17:01] classilla commented on #141
You can probably hook `$conclude` for that.

[2018-09-05 21:41] jangliss commented on #131
Looks like this issue was resolved with https://github.com/oysttyer/oysttyer/commit/310da9c36f052e70e68eb00d019e7ca6d384c14f.

[2018-09-24 10:52] debdrup commented on #131
Sorry for necroing this, but can a new release be cut, so that ports like [the freebsd one](https://www.freshports.org/net-im/oysttyer/) can be updated and benefit from 280 characters?

[2018-09-24 17:42] funnelfiasco commented on #131
Yes. I won't promise a timeline, but soon. I also need to take a look at a few things related the death of the stream API. Fortunately, $dayjob is less overwhelming these days, so I really will be able to work on this soon.

[2018-09-28 21:14] funnelfiasco opened #142 "Sending DMs fails with error"
[code]

[2018-09-29 00:43] funnelfiasco opened #143 "Default to extended tweets"
Extended tweets have been around long enough, let's make that the default.

[2018-09-29 00:49] #143 closed, assigned to funnelfiasco

[2018-09-29 00:52] #131 closed, assigned to funnelfiasco

[2018-09-29 01:42] funnelfiasco commented on #94
The streaming API is dead, so I guess there's nothing to do about this bug.

[2018-09-29 01:42] #94 closed, assigned to nobody

[2018-09-29 02:27] #141 closed, assigned to funnelfiasco

[2018-09-29 02:28] funnelfiasco commented on #141
In 2.10, you'l be able to specify, e.g. `separator='###---#---#---#---###` to print that string between refreshes.

[2018-09-29 02:29] #139 closed, assigned to nobody

[2018-09-29 02:50] funnelfiasco commented on #131
I just announced an RC. I'll let it sit over the weekend and then push it out the door as 2.10.0 early next week.

https://github.com/oysttyer/oysttyer/blob/c020c1b28fd0fe200dfbde2d25e09a9cd4f874de/oysttyer.pl

[2018-10-15 15:54] atomicules opened #144 "Application for Twitter Developer Account"
Just creating an issue for record purposes...

I received an email from Twitter on 01-Oct-2018:

the previous deadline to enforce new default app-level rate limits for common POST endpoints to October 22nd. This date is quickly approaching.

information and ensure a smooth review. Be sure to confirm your email address at the end of the application flow.

policies with helping developers get starte

[2018-10-16 20:45] atomicules commented on #144
Ugh, Twitter, as you can well imagine, are being ~a big bunch of dicks~ awkward about this.

[2018-10-16 20:49] funnelfiasco commented on #144
I wonder if it's worth just throwing away our old creds and create new. It could be that there are still old installs using the version that included a default application key. I haven't received these notices for the other two accounts I use with OysTTYer.

[2018-10-22 21:10] atomicules commented on #144
For the record these are the emails

## 1 - My initial email - basically filling in the same info they'd asked for on the web form

Hi,

sending this information again as requested.

Oysttyer is the official fork of the now defunct TTYtter from
Floodgap: an interactive console text-based command-line Twitter
client and Perl platform (whew!) It's primary functionality is to
allow users to follow th

[2018-10-22 21:11] atomicules commented on #144
I've obviously not included examples of my timeline here since folk here know what Oysttyer looks like.

[2018-10-23 06:09] atomicules commented on #144
This generic email today:

app-level rate limits for common POST endpoints.

beyond these levels:

So doesn't seem like a huge deal for us if folk are using their own keys.

[2018-10-23 10:29] ggapy commented on #142
I have the same issue. Here I executed ./oysttyer.pl -verbose
oysttyer> /dm @CarmenA78301111 Test
*** is_json_error returning true
*** warning: server error message received
*** "Sorry, that page does not exist."
oysttyer>

[2018-10-25 10:54] atomicules commented on #144
Whoop! We have the developer account bit. I've invited us two to that as well.

Now to figure out the "requesting elevated post..." bit

[2018-10-25 11:18] atomicules commented on #144
Ok, submitted that...

Can "normal" folk create their own applications any more? Maybe that's the whole issue. I'm a little bit out of the loop with things. I.e. I syndicate (some) tweets through my website and created an app for that, but that was before the whole "developer account" requirement came in.

[2018-10-30 15:09] atomicules commented on #144
Ugh (and not at Twitter this time):

in total.

[2018-10-30 15:20] funnelfiasco commented on #144
I think the answer here, if I understand the problem, is to revoke the app keys we used to ship with. We've been suggesting BYO key for a while, so this shouldn't be too much of an issue for the user base. Heck, it's one of the few things we actually have [documented](http://oysttyer.github.io/docs/userGuide.html#apikey)

[2018-10-30 15:28] atomicules commented on #144
![screenshot-2018-10-30 twitter application management](https://user-images.githubusercontent.com/44542/47729603-5ff62600-dc58-11e8-9b38-e86f63990730.png)

That's the problem though. It's no longer straight forward to create your own keys. Every single person would need to apply for a developer account. Such a shame.

[2018-10-30 15:29] atomicules commented on #144
Twitter really are doing their utmost to kill off Twitter.

[2018-10-30 15:34] funnelfiasco commented on #144
Oh hell, I forgot about that. Why do I keep using this garbage website?!

[2018-10-31 22:13] atomicules commented on #144
Sent this for now to buy some time to think things over:

Wow, ok. That was unexpected.

As an open-source (Perl based) application the oauthkey and secret are
publicly available. It's not ideal, but is as per the previous arrangement
with TTYtter. We have relied on goodwill of our users so it is a shame to hear
some are blatantly abusing that.

We are thinking this over. The problem is we are in

[2018-10-31 22:15] atomicules commented on #144
_Maybe_ we could get new keys and not include them in the source, but instead have people "apply" for them via Github issues. Doesn't stop someone posting them publicly I guess, but might deter a bit more?

Any other ideas? I'm thinking...

[2018-11-02 05:02] ScriptTiger commented on #144
Just an idea, but perhaps a middleman proxy/firewall service that users connect to that enforces limitations. Users can be authenticated (i.e. OAuth) and limitations can be imposed per user or limitations can just be imposed per IP. If going with authentication, each authenticated user can only be associated to one Twitter account and each Twitter account can only be associated to one authenticate

[2018-11-30 14:08] trs80 commented on #52
If we're talking colours, I'd like usernames to be hashed into colours to make it easier to distinguish users. Or bonus points if you can extract the primary colour of their avatar (pie in the sky I know).

[2019-01-18 20:59] sbaxter opened #145 "Allow `url` viewer to be stored in .oysttyerrc"
I'd like oystterr to remember the value of `/set urlopen lynx -dump %U | more` between sessions.

If this is already a feature, could the docs be cleaned up with an example of how to accomplish this?

[2019-01-18 21:25] vitusson commented on #145
That's already implemented.
Here I have
urlopen=firefox --new-tab %U

And it's mentioned here https://github.com/oysttyer/oysttyer.github.io/blob/master/docs/userGuide.md#configuration
though not every single option is mentioned there, of course the syntax is the same for all
Though I don't know if it will work with your pipe, jut try it.

[2019-01-21 12:28] sbaxter commented on #145
Aha: ```
/url menu code | Display the URLs in tweet menu code and open in the application defined by the urlopen option
[code]

[2019-01-21 12:28] #145 closed, assigned to nobody

[2019-04-25 19:09] ghost opened #146 "new tweet"
Hi Dear,

I wanna create new tweet with your perl script. I cant find any command in the user guide page for new tweet.
Can you help me.

Cheers,

[2019-04-25 21:10] funnelfiasco commented on #146
@Khamirak I apologize for the poor state of the documentation. If you're running interactively, you compose a new tweet by typing it and hitting enter. If you're just using it to send a tweet, it looks like

`oysttyer.pl --status='This is my tweet'`

You can also look at the [TTYtter documentation](http://www.floodgap.com/software/ttytter/) whenever something is missing and it will probably be cor

[2019-04-26 08:51] ghost opened #147 "Problem with curl in windows"
Hi dear,
I used activeperl in windows 10 to run your scripts. but when I input the following command in cmd,

`perl ./oysttyer.pl -oauthkey=TrcO4O8*********F7IFO -oauthsecret=Oh9ylKCwYN******************4BRH7YJH3GI2Pl1VQ`

I gave the following error:

then I download curl.exe from [https://curl.haxx.se/windows/dl-7.64.1_1/curl-7.64.1_1-win64-mingw.zip] and past it into the oysttyer.pl directory. F

[2019-04-26 08:57] ghost commented on #146
thanks for your contribution.

[2019-04-26 08:57] #146 closed, assigned to funnelfiasco

[2019-04-26 13:58] funnelfiasco commented on #147
@Khamirak I don't have a Windows machine for testing. If the curl executable is in the `PATH` environment variable, I would *expect* it to work, but Windows support isn't an active support target at this point.

[2019-04-26 14:14] classilla commented on #147
It should work with Cygwin, but ActiveState has several key differences, and probably doesn't function properly.

[2019-11-20 10:46] werid opened #148 "tweets with links that don't show in oysttyer"
hi,

I noticed some tweets that has a link in it, but does not show in oysttyer.

The twitter client is listed as "Twitter Ads Composer", but the tweet in question appears normal on their profile and in timeline of people who follow them...

two examples:

https://twitter.com/SpursOfficial/status/1196874518951796736
https://twitter.com/SpursOfficial/status/1197040181657784320

how they appear in o

[2020-03-17 13:46] edison23 opened #149 "Display tweets from specific user"
I may be searching the existing issues and/or docs wrong - if I am, then sorry, please point me to the right place. If not, here's my question:

Can I query tweets of some specific user? Something like
[code]
(I obviously made the command `/user` up)
Thanks a lot for your help :)

[2020-03-17 13:57] woffs commented on #149
/a

[2020-03-17 14:20] edison23 commented on #149
@woffs : Cool! Thanks a lot :) Two questions:
1. Any reason it's not in the docs?
2. Does it have any argument to limit the number of tweets this outputs?

[2020-03-17 14:24] edison23 commented on #149
@woffs : Cool, thanks! :) I forgot about the `/again` command.

[Deleted my previous comment after I realized `/a` is alias for `/again`.]

Closing this as resolved.

[2020-03-17 14:24] #149 closed, assigned to nobody

[2020-06-14 15:29] nancym opened #150 ""Generating your API key" needs to be updated"
Twitter disabled their old user interface on 2020-June-1 so I'm in search of a new way to use Twitter and I'm optimistic about Oysttyer so thank you for this! I'm going through http://oysttyer.github.io/docs/userGuide.html#apikey and have some feedback and questions.

* For Website, it says **Please use “http://oysttyer.github.io/”** but I wonder if this should be https rather than http?
* For Cal

[2020-06-14 16:19] funnelfiasco commented on #150
It should. I'll fix that.

It's only required if you use the sign in with Twitter option, which you don't need. Uncheck that boc and it should work.

Full disclosure, though: I'm still using Oysttyer, but I haven't done any development in...a few years at this point. 😔

[2020-06-22 04:28] CesarTavo commented on #142
Same error in  oysttyer;2.10.0

[2020-06-22 04:31] CesarTavo opened #151 "Sending DMs Fails"
-- your version of oysttyer is up to date (2.10.0)
oysttyer> /dm @oysttyer message
*** is_json_error returning true
*** warning: server error message received
*** "Sorry, that page does not exist."

[2020-08-02 03:31] etamtlosz opened #152 "posting account"
My oysttyer is posting with my username/account and not with the "App Name" I've set up.
Is there a way to change this, or I did something wrong while setting it up?

[2020-08-03 13:32] funnelfiasco commented on #152
@etamtlosz can you point me to a sample tweet? My tweets are posting with

`source                    <a href="https://github.com/oysttyer/oysttyer" rel="nofollow">OysTTYer (FunnelFiasco)</a>`

which is what I assume you're referring to.

[2020-08-03 20:36] etamtlosz commented on #152
Test tweet -> https://twitter.com/loplo/status/1290385630375997440
Tweeted with using this command:
``
`./oysttyer.pl -status="This is an oysttyer test tweet"
-- using SSL for default URLs.
trying to find cURL ... /usr/bin/curl
test-login SUCCEEDED!
post attempt SUCCEEDED!
[code]

[2020-08-03 21:03] funnelfiasco commented on #152
It is using your app name:

`source                    <a href="http://oysttyer.github.io" rel="nofollow">Invercargill_weather</a>`

(as opposed to, say, `<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>`)

What are you expecting?

The app name is the name of the app used to post the tweet, which is shown in some clients. If you want it to post as a different ac

[2020-08-03 21:09] etamtlosz commented on #152
Thanks for making it clear. I was thinking it was going to use the app name as name.

[2020-08-04 00:04] #152 closed, assigned to funnelfiasco

[2020-09-25 11:54] muzzol opened #153 "add option to list /followers on a single line"
this is a feature request for additional formating of /followers command

I use it in -script mode and I found it hard to parse so I would like to have a single line per follower.

thanks for your time!

[2021-12-26 07:42] mikeride commented on #150
This documentation seriously needs to be thrown out and rewritten. It doesn't reflect ANY of the new "apply to be a developer" stuff. Nothing in your docs is where you say it is on the website, nothing is called the same thing.

WELCOME TO oysttyer: Authorize oysttyer by signing into Twitter with OAuth

When I try that, I get:
Request from https://api.twitter.com/oauth/request_token ...... FAILED!

[2022-05-16 19:38] gaussandhisgun opened #154 "-avatar and -urlopen no worko"
So i recently discovered that Oysttyer should support using external commands to display images... But it does not.
Here is the command I run Oysttyer with.
[code]
This is how it looks:
![image](https://user-images.githubusercontent.com/63512006/168668523-b9b54009-acdf-484c-853e-e7855ed30818.png)

This is how it is supposed to look (at least, the command output):
-avatar:
![image](https://user-ima